Repository awslabs/open-hostfactory-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, black, isort, flake8, mypy, pylint, bandit, safety, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, detect-secrets, check-file-sizes

format:
  name: Auto-Format Code
  entry: make format
  language: system
  pass_filenames: false
  description: Auto-format Python code with black and isort

black:
  name: Black (Code Formatting)
  entry: make ci-quality-black
  language: system
  pass_filenames: false
  description: Check Python code formatting with Black

isort:
  name: isort (Import Sorting)
  entry: make ci-quality-isort
  language: system
  pass_filenames: false
  description: Check Python import sorting with isort

flake8:
  name: flake8 (Style Guide)
  entry: make ci-quality-flake8
  language: system
  pass_filenames: false
  description: Check Python style guide compliance with flake8

mypy:
  name: mypy (Type Checking)
  entry: make ci-quality-mypy
  language: system
  pass_filenames: false
  description: Check Python type annotations with mypy
  warning_only: true

pylint:
  name: pylint (Code Analysis)
  entry: make ci-quality-pylint
  language: system
  pass_filenames: false
  description: Run pylint code analysis
  warning_only: true

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis
  warning_only: true

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities
  warning_only: true

hadolint:
  name: hadolint (Dockerfile Linting)
  entry: make hadolint-check
  language: system
  pass_filenames: false
  description: Lint Dockerfile with hadolint
  warning_only: true

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-cqrs:
  name: Validate CQRS Patterns
  entry: make ci-arch-cqrs
  language: system
  pass_filenames: false
  description: Validate CQRS architecture patterns
  warning_only: true

check-architecture:
  name: Check Architecture Compliance
  entry: make ci-arch-clean
  language: system
  pass_filenames: false
  description: Check Clean Architecture compliance
  warning_only: true

validate-imports-arch:
  name: Validate Import Architecture
  entry: make ci-arch-imports
  language: system
  pass_filenames: false
  description: Validate import architecture compliance
  warning_only: true

check-file-sizes-arch:
  name: Check File Sizes (Architecture)
  entry: make ci-arch-file-sizes
  language: system
  pass_filenames: false
  description: Check file sizes for architecture compliance
  warning_only: true

security-scan:
  name: Security Scan
  entry: make security-scan
  language: system
  pass_filenames: false
  description: Run comprehensive security scan
  warning_only: true

refactor: replace custom unused import detection with autoflake
  .gitignore
  dev-tools/scripts/quality_check.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

fix: repair make format command and apply comprehensive formatting
  Makefile
Due: none

fix: remove emojis from codebase and improve quality check accuracy
  dev-tools/scripts/quality_check.py
  docs/docs/architecture/diagrams/compliance_overview.md
  src/domain/README.md
  src/providers/README.md
  tests/unit/test_import_fixes.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

fix: apply black formatting to resolve CI formatting issues
  src/__init__.py
  src/domain/base/__init__.py
  tests/conftest.py
  tests/unit/cli/test_cli_migration.py
  tests/unit/infrastructure/template/test_ami_resolution.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

refactor: extract format logic to script following project patterns
  Makefile
  dev-tools/scripts/format_code.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

fix: fix remaining quality issues and remove unprofessional language
  dev-tools/scripts/clean_whitespace.py
  dev-tools/security/validate_sarif.py
  docs/docs/architectural_assessment.md
  docs/docs/examples/provider_strategy_usage_examples.py
  src/domain/machine/value_objects.py
  src/infrastructure/persistence/components/transaction_manager.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/utilities/aws_operations.py
  tests/integration/test_cqrs_migration_baseline.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: remove duplicate get_provider_config method caught by flake8 error
  src/config/managers/provider_manager.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: add None checks for provider config usage
  dev-tools/scripts/clean_whitespace.py
  dev-tools/security/validate_sarif.py
  docs/docs/examples/provider_strategy_usage_examples.py
  src/application/commands/system_handlers.py
  src/application/services/provider_selection_service.py
  src/bootstrap.py
  src/infrastructure/scheduler/hostfactory/strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: standardize provider config variable naming and fix factory bug
  src/application/commands/system_handlers.py
  src/bootstrap.py
  src/config/migration.py
  src/infrastructure/factories/provider_strategy_factory.py
  tests/e2e/test_system_validation.py
  tests/integration/test_bootstrap_integration.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: consolidate formatting tools to use consistent run-tool function
  Makefile
  dev-tools/scripts/format_code.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

fix: critical quality check bug and build issues
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  dev-tools/scripts/container-build.sh
  dev-tools/scripts/quality_check.py
  tests/e2e/test_system_validation.py
  tests/unit/test_corner_cases.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, check-file-sizes

fix: standardize dev-tools filenames to use underscores
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/publish.yml
  Makefile
  dev-tools/package/build.sh
  dev-tools/package/install_dev.sh
  dev-tools/package/test_install.sh
  dev-tools/package/version_bump.sh
  dev-tools/scripts/container_build.sh
  dev-tools/scripts/generate_pyproject.py
  dev-tools/scripts/install_completions.sh
  dev-tools/scripts/quick_start.sh
  dev-tools/scripts/run_dev_checks.sh
  scripts/invoke_provider.sh
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, check-file-sizes

fix: use make targets instead of direct dev-tools script calls in workflows
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/publish.yml
Due: quality-check, security-scan, validate-workflows

fix: create virtual environment before installing build dependencies
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: quality-check, security-scan, validate-workflows

feat: consolidate build/test pipeline with centralized environment handling (proper)
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  dev-tools/package/build.sh
  dev-tools/scripts/run_tool.sh
  dev-tools/testing/run_tests.py
Due: format, black, isort, flake8, mypy, pylint, bandit, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, check-file-sizes

fix: complete workflow consolidation and Dockerfile issues
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  Dockerfile
  Makefile
  dev-tools/testing/run_tests.py
Due: format, black, isort, flake8, mypy, pylint, bandit, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, check-file-sizes

fix: remove all emojis from codebase for professional standards
  dev-tools/scripts/quality_check.py
  dev-tools/testing/run_tests.py
  docs/cli/template-commands.md
  docs/docs/developer_guide/performance-optimization.md
  src/api/README.md
  src/config/README.md
  tests/e2e/test_end_to_end_integration.py
  tests/integration/test_configuration.py
  tests/integration/test_configuration_defaults.py
  tests/integration/test_dependency_injection.py
  tests/integration/test_handler_architecture.py
  tests/integration/test_integration_flow.py
  tests/integration/test_lazy_loading_integration.py
  tests/integration/test_storage_strategy.py
  tests/performance/test_lazy_loading_performance.py
  tests/test_provider_strategy_examples.py
  tests/unit/test_domain_validation.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

fix: remove implementation detail references from codebase
  dev-tools/scripts/quality_check.py
  docs/docs/configuration-guide.md
  src/api/README.md
  tests/integration/test_configuration.py
  tests/integration/test_dependency_injection.py
  tests/integration/test_integration_flow.py
  tests/integration/test_storage_strategy.py
  tests/performance/test_lazy_loading_performance.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

fix: remove all implementation detail references from codebase
  docs/docs/architectural_assessment.md
  docs/docs/architecture/lazy-loading-design.md
  docs/docs/developer_guide/cqrs.md
  docs/docs/developer_guide/dependency_injection.md
  docs/docs/developer_guide/providers.md
  docs/docs/operational/performance.md
  docs/docs/provider_strategy_pattern_guide.md
  docs/docs/storage_registry_pattern.md
  docs/docs/user_guide/deployment.md
  examples/mcp/python/client_example.py
  src/application/interfaces/command_handler.py
  src/application/queries/handlers.py
  src/infrastructure/di/container.py
  src/infrastructure/di/handler_discovery.py
  src/infrastructure/di/services.py
  src/infrastructure/persistence/registration.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  src/infrastructure/scheduler/registration.py
  src/mcp/__init__.py
  tests/config/test_template_defaults.py
  tests/e2e/test_end_to_end_integration.py
  tests/integration/api/test_api_endpoints.py
  tests/integration/mcp/test_mcp_protocol_compliance.py
  tests/integration/test_advanced_edge_cases.py
  tests/integration/test_complete_workflows.py
  tests/integration/test_comprehensive_edge_cases.py
  tests/integration/test_configuration.py
  tests/integration/test_dependency_injection.py
  tests/integration/test_full_workflow.py
  tests/integration/test_handler_architecture.py
  tests/integration/test_hostfactory_lifecycle.py
  tests/unit/test_domain_validation.py
  tests/unit/test_import_fixes.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fox: add missing docstrings to key functions and classes
  dev-tools/scripts/ci_check.py
  dev-tools/scripts/pre_commit_check.py
  dev-tools/scripts/quality_check.py
  hfmock.py
  src/api/documentation/openapi_config.py
  src/application/base/handlers.py
  src/application/decorators.py
  src/application/events/decorators.py
  src/application/machine/dto.py
  src/cli/formatters.py
  src/config/managers/type_converter.py
  src/domain/base/decorators.py
  src/domain/base/dependency_injection.py
  src/domain/base/di_contracts.py
  src/domain/base/exceptions.py
  src/domain/machine/exceptions.py
  src/domain/request/exceptions.py
  src/domain/template/exceptions.py
  src/infrastructure/di/port_registrations.py
  src/infrastructure/error/decorators.py
  src/infrastructure/error/error_middleware.py
  src/infrastructure/error/exception_handler.py
  src/infrastructure/handlers/base/api_handler.py
  src/infrastructure/logging/logger.py
  src/infrastructure/persistence/components/sql_query_builder.py
  src/infrastructure/resilience/retry_decorator.py
  src/infrastructure/template/template_cache_service.py
  src/interface/serve_command_handler.py
  src/providers/aws/infrastructure/adapters/template_adapter.py
  src/providers/base/strategy/composite_strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: improve quality check script performance and formatting
  dev-tools/scripts/check_architecture.py
  dev-tools/scripts/check_file_sizes.py
  dev-tools/scripts/ci_check.py
  dev-tools/scripts/clean_whitespace.py
  dev-tools/scripts/format_code.py
  dev-tools/scripts/generate_pyproject.py
  dev-tools/scripts/generate_sbom.py
  dev-tools/scripts/pre_commit_check.py
  dev-tools/scripts/quality_check.py
  dev-tools/scripts/validate_cqrs.py
  dev-tools/scripts/validate_imports.py
  dev-tools/scripts/validate_workflows.py
  dev-tools/security/security_scan.py
  dev-tools/testing/run_tests.py
  examples/mcp/python/client_example.py
  hfmock.py
  src/application/base/handlers.py
  src/domain/base/decorators.py
  src/infrastructure/di/services.py
  src/infrastructure/error/error_middleware.py
  src/infrastructure/handlers/base/api_handler.py
  tests/integration/test_configuration.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: replace print statements with proper logging in dev-tools scripts
  dev-tools/scripts/check_architecture.py
  dev-tools/scripts/check_file_sizes.py
  dev-tools/scripts/format_code.py
  dev-tools/scripts/generate_sbom.py
  dev-tools/scripts/pre_commit_check.py
  dev-tools/scripts/quality_check.py
  dev-tools/scripts/validate_cqrs.py
  dev-tools/scripts/validate_workflows.py
  dev-tools/security/security_scan.py
  src/providers/base/strategy/enhanced_provider_strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: replace debug prints with proper logging in examples and tools
  examples/mcp/python/client_example.py
  hfmock.py
  src/infrastructure/error/error_middleware.py
  src/interface/mcp/server/handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: add noqa support for debug prints and suppress legitimate CLI/bootstrap prints
  dev-tools/scripts/quality_check.py
  src/bootstrap.py
  src/cli/main.py
  src/config/migration.py
  src/infrastructure/logging/logger.py
  tests/integration/test_ocp_compliance_integration.py
  tests/integration/test_storage_strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

security: add nosec annotations for intentional network binding configurations
  src/config/schemas/server_schema.py
  src/interface/serve_command_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

security: comprehensive security improvements and trivy integration
  .gitignore
  .trivyignore
  Makefile
  src/config/schemas/server_schema.py
  src/interface/serve_command_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: add missing UnitOfWorkFactory import and fix AWS extension config imports
  src/domain/base/__init__.py
  src/infrastructure/di/infrastructure_services.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: improve ConfigurationError messages to show actual error details
  src/config/loader.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: replace hardcoded active_provider access with proper get_active_providers() method
  src/config/schemas/app_schema.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  src/infrastructure/template/configuration_manager.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

docs: add provider extension configuration best practices
  src/providers/README.md
Due: quality-check

feat: proper provider selection architecture to replace hardcoded [0] usage
  src/application/services/provider_selection_service.py
  src/config/schemas/app_schema.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  src/infrastructure/template/configuration_manager.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

feat: update AWS client to use provider selection service for profile loading
  src/providers/aws/infrastructure/aws_client.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

feat: add caching to ProviderSelectionService to reduce redundant calls
  src/application/services/provider_selection_service.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: Properly fix configuration loading and provider selection caching
  src/application/services/provider_selection_service.py
  src/config/loader.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: use proper dependency injection instead of global cache hack
  src/application/services/provider_selection_service.py
  src/config/loader.py
  src/config/schemas/app_schema.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  src/infrastructure/template/configuration_manager.py
  src/providers/aws/infrastructure/aws_client.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

Path conditions:
  format: any of: \.(py)$
  black: any of: \.(py)$
  isort: any of: \.(py)$
  flake8: any of: \.(py)$
  mypy: any of: \.(py)$
  pylint: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  hadolint: any of: Dockerfile.*
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$
  validate-imports-arch: any of: \.(py)$
  check-file-sizes-arch: any of: \.(py)$
  security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
  check-file-sizes: any of: \.(py)$
