Repository awslabs/open-hostfactory-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, bandit-security-check, safety-dependency-check, secrets-detection, dockerfile-security, check-file-sizes, validate-cqrs, check-architecture

professional-quality-check:
  name: Professional Quality Check
  entry: bash -c 'source .venv/bin/activate && python scripts/quality_check.py --strict'
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks (emojis, language, docstrings, etc.)

validate-imports:
  name: Validate Python Imports
  entry: bash -c 'source .venv/bin/activate && python scripts/validate_imports.py'
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

test-import-validation:
  name: Run Import Validation Tests
  entry: bash -c 'source .venv/bin/activate && python -m pytest tests/test_import_validation.py -v'
  language: system
  pass_filenames: false
  description: Run comprehensive import validation tests

check-deprecated-imports:
  name: Check for Deprecated Imports
  entry: bash -c 'grep -r "from.*request.*value_objects.*import.*MachineStatus" . --include="*.py" && echo "Found deprecated MachineStatus import" && exit 1 || echo "No deprecated imports found"'
  language: system
  pass_filenames: false
  ...

comprehensive-security-scan:
  name: Comprehensive Security Scan
  entry: bash -c 'source .venv/bin/activate && python dev-tools/security/security_scan.py'
  language: system
  pass_filenames: false
  description: Run comprehensive security scan (Bandit, Safety, SBOM, Trivy, Hadolint)

bandit-security-check:
  name: Bandit Security Check (Fallback)
  entry: bash -c 'source .venv/bin/activate && python -m bandit -r src/ -f json -q'
  language: system
  pass_filenames: false
  description: Run Bandit security linter on source code (fallback if comprehensive scan fails)

safety-dependency-check:
  name: Safety Dependency Check
  entry: bash -c 'source .venv/bin/activate && python -m safety check --short-report'
  language: system
  pass_filenames: false
  description: Check for known security vulnerabilities in dependencies

secrets-detection:
  name: Detect Hardcoded Secrets
  entry: bash -c 'grep -r -E "(password|secret|key|token)\s*=\s*[\"'\''][^\"'\'']{8,}" src/ --include="*.py" && echo "Potential hardcoded secrets found" && exit 1 || echo "No hardcoded secrets detected"'
  language: system
  pass_filenames: false
  ...

dockerfile-security:
  name: Dockerfile Security Check
  entry: bash -c 'if command -v hadolint >/dev/null 2>&1; then hadolint Dockerfile; else echo "Hadolint not installed, skipping Dockerfile security check"; fi'
  language: system
  pass_filenames: false
  description: Run Hadolint security check on Dockerfiles

check-file-sizes:
  name: Check File Sizes
  entry: bash -c 'source .venv/bin/activate && python scripts/check_file_sizes.py --warn-only'
  language: system
  pass_filenames: false
  description: Check for files that may violate Single Responsibility Principle

feat: comprehensive improvements to CI/CD and documentation
  .github/workflows/publish.yml
  .github/workflows/security.yml
  Dockerfile
  Makefile
  docs/deployment/pypi-setup.md
Due: professional-quality-check, comprehensive-security-scan, dockerfile-security

feat: add Python 3.13 support across all workflows and documentation
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
  README.md
  docs/docs/developer_guide/testing.md
Due: professional-quality-check, comprehensive-security-scan

fix: restore full architecture validation functionality
  dev-tools/scripts/check_architecture.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: correct YAML syntax error in publish.yml SBOM generation
  .github/workflows/publish.yml
Due: professional-quality-check, comprehensive-security-scan

feat: add continue-on-error flags for quality checks and tests
  .github/workflows/ci.yml
Due: professional-quality-check, comprehensive-security-scan

feat: add continue-on-error flags to test-matrix.yml workflow
  .github/workflows/test-matrix.yml
Due: professional-quality-check, comprehensive-security-scan

fix: restore proper test flow and fix YAML syntax error
  .github/workflows/publish.yml
  .github/workflows/test-matrix.yml
Due: professional-quality-check, comprehensive-security-scan

refactor: extract Python scripts from YAML and use Makefile targets
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
  Makefile
  dev-tools/scripts/generate_sbom.py
  python-sbom-cyclonedx.json
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

refactor: implement granular CI jobs with tool names for better visibility
  .github/workflows/ci.yml
  .github/workflows/security.yml
  Makefile
Due: professional-quality-check, comprehensive-security-scan

fix: resolve workflow dependency issues after granular job refactoring
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: professional-quality-check, comprehensive-security-scan

refactor: update CI to Python 3.13 and clarify fast test labels
  .github/workflows/ci.yml
Due: professional-quality-check, comprehensive-security-scan

fix: update docs workflow to build only on main branch and add CI testing
  .github/workflows/docs.yml
  Makefile
Due: professional-quality-check, comprehensive-security-scan

refactor: consolidate documentation system with consistent versioning
  .github/workflows/docs.yml
  Makefile
Due: professional-quality-check, comprehensive-security-scan

fix: resolve missing and duplicate Makefile targets
  .github/workflows/publish.yml
  Makefile
Due: professional-quality-check, comprehensive-security-scan

feat: implement mike-based versioned documentation system
  .github/workflows/docs.yml
  .gitlab-ci.yml
  Makefile
Due: professional-quality-check, comprehensive-security-scan

refactor: consolidate documentation workflow and remove GitLab dependencies
  .github/workflows/docs.yml
  Makefile
  README.md
  docs/docs/requirements.txt
  docs/mkdocs.yml
Due: professional-quality-check, comprehensive-security-scan, safety-dependency-check

fix: resolve file size compliance check script location
  .pre-commit-config.yaml
  Makefile
  dev-tools/scripts/check_file_sizes.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: resolve import validation script path calculation
  dev-tools/scripts/validate_imports.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: use system Python for CI documentation targets
  Makefile
Due: none

feat: make CI documentation targets work in both venv and system-wide environments
  Makefile
Due: none

refactor: move complex CI documentation logic to dedicated scripts
  Makefile
  dev-tools/scripts/ci_docs_build.sh
  dev-tools/scripts/ci_docs_deploy.sh
Due: none

fix: implement proper GitHub Pages deployment using GitHub Actions
  .github/workflows/docs.yml
  Makefile
  dev-tools/scripts/ci_docs_build_for_pages.sh
Due: professional-quality-check, comprehensive-security-scan

fix: use mkdocs build instead of mike for GitHub Pages deployment
  dev-tools/scripts/ci_docs_build_for_pages.sh
Due: none

Fix license reference in documentation
  docs/docs/index.md
Due: professional-quality-check

Fix dependabot configuration: remove duplicate Docker entries
  .github/dependabot.yml
Due: professional-quality-check, comprehensive-security-scan

Create centralized version and package metadata files
  src/__init__.py
  src/_package.py
  src/_version.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, bandit-security-check, secrets-detection, check-file-sizes, validate-cqrs, check-architecture

Update Makefile with dynamic variables and container targets
  Makefile
Due: none

Reorganize container deployment files and enhance build script
  Makefile
  deployment/docker/docker-compose.prod.yml
  deployment/docker/docker-compose.yml
  deployment/docker/docker-entrypoint.sh
  dev-tools/scripts/container-build-multi.sh
  dev-tools/scripts/container-build.sh
Due: professional-quality-check, comprehensive-security-scan

Enhance container build script with Python version support
  dev-tools/scripts/container-build.sh
Due: none

Complete centralized version and package management implementation
  dev-tools/scripts/container-build-multi.sh
Due: none

Implement template-based centralized configuration system
  .gitignore
  Makefile
  bandit-report.json
  dev-tools/scripts/generate-pyproject.py
  dev-tools/scripts/validate_cqrs.py
  dev-tools/scripts/validate_imports.py
  dev-tools/security/security_scan.py
  dev-tools/security/validate_sarif.py
  dev-tools/testing/run_tests.py
  pyproject.toml.template
  setup.py
  src/interface/mcp/server/core.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, bandit-security-check, secrets-detection, check-file-sizes, validate-cqrs, check-architecture

Fix CI pipelines to generate pyproject.toml before package operations
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .gitignore
  bandit-report.sarif
  hadolint-results.sarif
  safety-report.json
  security-report.json
Due: professional-quality-check, comprehensive-security-scan

Add work/ directory to .gitignore
  .gitignore
Due: none

Remove all dynamic configuration from pyproject.toml template
  pyproject.toml.template
Due: none

Fix CI pipeline enforcement and code formatting
  .github/workflows/ci.yml
  src/_package.py
  src/_version.py
  src/infrastructure/persistence/components/sql_query_builder.py
  tests/integration/test_hostfactory_lifecycle.py
  tests/unit/patterns/test_di_pattern.py
  tests/unit/test_corner_cases.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, bandit-security-check, secrets-detection, check-file-sizes, validate-cqrs, check-architecture

fix: correct invalid exception raising syntax in test files
  tests/integration/test_hostfactory_lifecycle.py
  tests/unit/patterns/test_di_pattern.py
  tests/unit/test_corner_cases.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: resolve flake8 B014 redundant exception type violations
  tests/unit/test_corner_cases.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: resolve isort import formatting violations across codebase
  src/__init__.py
  src/application/services/provider_selection_service.py
  src/infrastructure/di/buses.py
  src/infrastructure/di/components/dependency_resolver.py
  src/infrastructure/di/container.py
  src/infrastructure/di/core_services.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  src/interface/mcp/server/core.py
  src/providers/aws/infrastructure/adapters/resource_manager_adapter.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  tests/integration/test_cqrs_migration_baseline.py
  tests/integration/test_ocp_compliance_integration.py
  tests/integration/test_provider_strategy_dry_run.py
  tests/interface/mcp/test_mcp_server_core.py
  tests/providers/base/strategy/test_provider_context_edge_cases.py
  tests/unit/application/services/test_provider_capability_service.py
  tests/unit/application/test_cqrs_patterns.py
  tests/unit/domain/test_business_rules.py
  tests/unit/domain/test_machine_aggregate.py
  tests/unit/infrastructure/error/test_exception_handler.py
  tests/unit/infrastructure/test_multi_instance_provider_support.py
  tests/unit/infrastructure/test_unified_base_registry.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, bandit-security-check, secrets-detection, check-file-sizes, validate-cqrs, check-architecture

fix: resolve flake8 bare except violations and isort version compatibility
  src/_package.py
  tests/unit/application/test_cqrs_patterns.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, bandit-security-check, secrets-detection, check-file-sizes, validate-cqrs, check-architecture

feat: migrate to UV-first dependency management
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dependabot-uv-lock.yml
  .github/workflows/dependency-maintenance.yml
  .gitignore
  Makefile
  pyproject.toml.template
  requirements-dev.txt
  requirements.txt
  uv.lock
Due: professional-quality-check, comprehensive-security-scan, safety-dependency-check

Path conditions:
  professional-quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  test-import-validation: any of: \.(py)$
  check-deprecated-imports: any of: \.(py)$
  comprehensive-security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  bandit-security-check: any of: ^src/.*\.py$
  safety-dependency-check: any of: requirements.*\.txt$
  secrets-detection: any of: ^src/.*\.py$
  dockerfile-security: any of: ^Dockerfile.*$
  check-file-sizes: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$
