Repository awslabs/open-hostfactory-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, black, isort, flake8, mypy, pylint, bandit, safety, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, detect-secrets, check-file-sizes

format:
  name: Auto-Format Code
  entry: make format
  language: system
  pass_filenames: false
  description: Auto-format Python code with black and isort

black:
  name: Black (Code Formatting)
  entry: make ci-quality-black
  language: system
  pass_filenames: false
  description: Check Python code formatting with Black

isort:
  name: isort (Import Sorting)
  entry: make ci-quality-isort
  language: system
  pass_filenames: false
  description: Check Python import sorting with isort

flake8:
  name: flake8 (Style Guide)
  entry: make ci-quality-flake8
  language: system
  pass_filenames: false
  description: Check Python style guide compliance with flake8

mypy:
  name: mypy (Type Checking)
  entry: make ci-quality-mypy
  language: system
  pass_filenames: false
  description: Check Python type annotations with mypy
  warning_only: true

pylint:
  name: pylint (Code Analysis)
  entry: make ci-quality-pylint
  language: system
  pass_filenames: false
  description: Run pylint code analysis
  warning_only: true

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis
  warning_only: true

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities
  warning_only: true

hadolint:
  name: hadolint (Dockerfile Linting)
  entry: make hadolint-check
  language: system
  pass_filenames: false
  description: Lint Dockerfile with hadolint
  warning_only: true

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-cqrs:
  name: Validate CQRS Patterns
  entry: make ci-arch-cqrs
  language: system
  pass_filenames: false
  description: Validate CQRS architecture patterns
  warning_only: true

check-architecture:
  name: Check Architecture Compliance
  entry: make ci-arch-clean
  language: system
  pass_filenames: false
  description: Check Clean Architecture compliance
  warning_only: true

validate-imports-arch:
  name: Validate Import Architecture
  entry: make ci-arch-imports
  language: system
  pass_filenames: false
  description: Validate import architecture compliance
  warning_only: true

check-file-sizes-arch:
  name: Check File Sizes (Architecture)
  entry: make ci-arch-file-sizes
  language: system
  pass_filenames: false
  description: Check file sizes for architecture compliance
  warning_only: true

security-scan:
  name: Security Scan
  entry: make security-scan
  language: system
  pass_filenames: false
  description: Run comprehensive security scan
  warning_only: true

fix: add missing FastAPI and uvicorn dependencies
  pyproject.toml.template
Due: none

chore: update uv.lock with FastAPI dependencies
  uv.lock
Due: none

fix: make container test image tagging consistent with build
  dev-tools/scripts/container_build.sh
Due: none

fix: use single platform for local container builds
  dev-tools/scripts/container_build.sh
Due: none

fix: Add missing system serve CLI parser and fix Docker entrypoint args
  deployment/docker/docker-entrypoint.sh
  src/cli/main.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: Use DI pattern for configuration access in serve command handler
  src/interface/serve_command_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: suppress Docker security warnings for auth config vars
  dev-tools/scripts/container_build.sh
Due: none

fix: use dynamic version from pyproject.toml instead of hardcoded 1.0.0
  Dockerfile
  src/api/documentation/openapi_config.py
  src/api/server.py
  src/mcp/__init__.py
  src/providers/aws/strategy/__init__.py
  src/providers/base/strategy/__init__.py
  src/sdk/__init__.py
Due: format, black, isort, flake8, mypy, pylint, bandit, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

refactor: remove redundant version definitions
  src/__init__.py
  src/mcp/__init__.py
  src/providers/aws/strategy/__init__.py
  src/providers/base/strategy/__init__.py
  src/sdk/__init__.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

refactor: centralize all metadata to project.yml/pyproject.toml
  src/__init__.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

feat: complete metadata centralization to .project.yml
  .project.yml
  dev-tools/scripts/generate_pyproject.py
  pyproject.toml.template
  src/_package.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

style: apply code formatting
  src/__init__.py
  src/mcp/__init__.py
  src/sdk/__init__.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: standardize workflow python version handling and remove hardcoded versions
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/test-matrix.yml
  Dockerfile
  deployment/docker/docker-compose.yml
  deployment/docker/docker-entrypoint.sh
Due: hadolint, quality-check, security-scan, validate-workflows

fix: add missing needs dependencies for Python setup
  .github/workflows/dependabot.yml
  .github/workflows/security.yml
Due: quality-check, security-scan, validate-workflows

fix: add remaining missing needs dependencies
  .github/workflows/publish.yml
  .github/workflows/security.yml
Due: quality-check, security-scan, validate-workflows

fix: resolve critical workflow and runtime issues
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
  .github/workflows/validate-workflows.yml
  awscpinst/config/user_data.sh
  deployment/docker/docker-entrypoint.sh
Due: quality-check, security-scan, validate-workflows

fix: update pyproject.toml.template for package refactoring
  pyproject.toml.template
Due: none

fix: use dynamic URL from _package.py and resolve final YAML issue
  .github/workflows/dependabot.yml
  src/cli/main.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, detect-secrets, check-file-sizes

feat: enhance workflow validation to catch YAML syntax issues
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
  .github/workflows/validate-workflows.yml
  dev-tools/scripts/validate_workflows.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, check-file-sizes

feat: add actionlint and shellcheck validation tools
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  dev-tools/scripts/install_dev_tools.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, check-file-sizes

fix: resolve actionlint and shellcheck issues
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  awscpinst/config/user_data.sh
  dev-tools/scripts/container_build.sh
  tests/test-docker.sh
Due: quality-check, security-scan, validate-workflows

style: apply code formatting
  dev-tools/scripts/install_dev_tools.py
  dev-tools/scripts/validate_workflows.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

fix: resolve emoji and bandit security issues
  dev-tools/scripts/validate_workflows.py
  src/_package.py
  src/domain/base/decorators.py
  src/providers/aws/domain/template/value_objects.py
  src/providers/aws/infrastructure/template/ami_cache.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: add proper nosec comments for bandit security scan
  src/cli/main.py
  src/config/schemas/server_schema.py
  src/infrastructure/auth/strategy/bearer_token_strategy.py
  src/infrastructure/persistence/components/sql_query_builder.py
  src/interface/serve_command_handler.py
  src/providers/aws/domain/template/value_objects.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve black formatting and CI issues
  .github/workflows/ci.yml
  src/infrastructure/persistence/components/sql_query_builder.py
  src/providers/aws/infrastructure/template/ami_cache.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, detect-secrets, check-file-sizes

fix: make all SQL queries multiline for black stability
  src/infrastructure/persistence/components/sql_query_builder.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: add --system flag to PyYAML installation in CI
  .github/workflows/ci.yml
Due: quality-check, security-scan, validate-workflows

fix: use consistent uv pattern for PyYAML installation
  .github/workflows/ci.yml
Due: quality-check, security-scan, validate-workflows

fix: remove duplicate validate-workflows job from main CI
  .github/workflows/ci.yml
Due: quality-check, security-scan, validate-workflows

fix: remove duplicate 'uses' statements in workflow files
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, security-scan, validate-workflows

fix: remove duplicate yq installations from workflows
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
Due: quality-check, security-scan, validate-workflows

fix: restore missing steps.version in get-config jobs
  .github/workflows/docs.yml
  .github/workflows/publish.yml
Due: quality-check, security-scan, validate-workflows

fix: systematically fix all workflow get-config jobs
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
Due: quality-check, security-scan, validate-workflows

fix: remove duplicate 'id: config' steps in container.yml
  .github/workflows/container.yml
Due: quality-check, security-scan, validate-workflows

refactor: rename validation targets for clarity
  Makefile
Due: none

fix: enforce workflow consistency with Makefile targets
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, security-scan, validate-workflows

fix: enforce pip-audit installation consistency
  Makefile
  dev-tools/scripts/check_requirements.sh
  dev-tools/scripts/install_dev_tools.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

fix: resolve critical actionlint workflow dependency issues
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
Due: quality-check, security-scan, validate-workflows

Path conditions:
  format: any of: \.(py)$
  black: any of: \.(py)$
  isort: any of: \.(py)$
  flake8: any of: \.(py)$
  mypy: any of: \.(py)$
  pylint: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  hadolint: any of: Dockerfile.*
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$
  validate-imports-arch: any of: \.(py)$
  check-file-sizes-arch: any of: \.(py)$
  security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
  check-file-sizes: any of: \.(py)$
