Repository awslabs/open-hostfactory-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, black, isort, flake8, mypy, pylint, bandit, safety, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-workflows, validate-actionlint, validate-shell-scripts, detect-secrets, check-file-sizes

Path conditions:
  format: any of: \.(py)$
  black: any of: \.(py)$
  isort: any of: \.(py)$
  flake8: any of: \.(py)$
  mypy: any of: \.(py)$
  pylint: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  hadolint: any of: Dockerfile.*
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$
  validate-imports-arch: any of: \.(py)$
  check-file-sizes-arch: any of: \.(py)$
  security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  semgrep: any of: \.(py)$
  trivy-fs: any of: \.(py|txt|yml|yaml|toml|json)$
  trufflehog: any of: \.(py|txt|yml|yaml|toml|json|md|sh)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  validate-actionlint: any of: \.github/workflows/.*\.(yml|yaml)$
  validate-shell-scripts: any of: \.sh$
  detect-secrets: any of: ^src/.*\.py$
  check-file-sizes: any of: \.(py)$

feat: standardize handler context preparation and fix data duplication
  specs/aws/asg/default.json
  specs/aws/ec2fleet/default.json
  specs/aws/runinstances/default.json
  specs/aws/spotfleet/default.json
  src/infrastructure/template/jinja_spec_renderer.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_context_mixin.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/infrastructure/launch_template/manager.py
  src/providers/aws/infrastructure/services/aws_native_spec_service.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

Addressing comments
  src/interface/request_command_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat: fix tests and documentation for standardized context preparation
  docs/api/native-spec-reference.md
  specs/aws/examples/basic/ec2fleet-instant.json
  specs/aws/examples/basic/spotfleet-basic.json
  tests/unit/infrastructure/test_jinja_spec_renderer.py
  tests/unit/providers/aws/test_base_context_mixin.py
  tests/unit/providers/test_aws_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat: add instance TagSpecifications to EC2Fleet and SpotFleet templates
  specs/aws/ec2fleet/default.json
  specs/aws/spotfleet/default.json
Due: quality-check, trivy-fs, trufflehog

refactor: consolidate FleetTagBuilder to utilities and enhance functionality
  src/providers/aws/infrastructure/handlers/components/__init__.py
  src/providers/aws/infrastructure/handlers/components/fleet_tag_builder.py
  src/providers/aws/utilities/__init__.py
  src/providers/aws/utilities/fleet_tag_builder.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat: extend AWSOperations with comprehensive tagging capabilities
  src/providers/aws/utilities/aws_operations.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat: add post-creation tagging support to AWS handlers
  src/providers/aws/infrastructure/handlers/base_context_mixin.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat: standardize resource naming across all AWS handlers
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

test: update FleetTagBuilder tests for new implementation
  tests/unit/providers/test_fleet_tag_builder.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat: implement two-mode merge system for native specifications
  src/config/schemas/native_spec_schema.py
  src/infrastructure/adapters/configuration_adapter.py
  src/infrastructure/utilities/common/deep_merge.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/infrastructure/services/aws_native_spec_service.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

test: add comprehensive test suite for merge functionality
  config/default_config.json
  tests/unit/config/test_native_spec_schema.py
  tests/unit/infrastructure/utilities/test_deep_merge.py
  tests/unit/providers/aws/test_aws_native_spec_service_merge.py
  tests/unit/providers/aws/test_handler_merge_integration.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

fix: repair broken AWS handler tests
  tests/unit/providers/test_aws_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

style: apply code formatting
  src/config/schemas/native_spec_schema.py
  src/infrastructure/utilities/common/deep_merge.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/base_context_mixin.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/infrastructure/services/aws_native_spec_service.py
  src/providers/aws/utilities/aws_operations.py
  src/providers/aws/utilities/fleet_tag_builder.py
  tests/unit/infrastructure/test_jinja_spec_renderer.py
  tests/unit/infrastructure/utilities/test_deep_merge.py
  tests/unit/providers/aws/test_aws_native_spec_service_merge.py
  tests/unit/providers/aws/test_base_context_mixin.py
  tests/unit/providers/aws/test_handler_merge_integration.py
  tests/unit/providers/test_aws_handlers.py
  tests/unit/providers/test_fleet_tag_builder.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

security: fix bandit B110 try/except/pass warning
  src/providers/aws/utilities/aws_operations.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

style: fix flake8 B011 assert False warning
  tests/unit/providers/test_aws_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

docs: replace hallucinated docs with accurate native spec guide
  docs/best-practices/native-spec-patterns.md
  docs/migration/legacy-to-native-spec.md
  docs/native-spec-guide.md
Due: quality-check, trufflehog

docs: update examples with modern AWS allocation strategies
  docs/native-spec-guide.md
Due: quality-check, trufflehog

examples: consolidate and modernize AWS spec examples
  specs/aws/examples/advanced/asg-lifecycle-hooks.json
  specs/aws/examples/advanced/ec2fleet-mixed-instances.json
  specs/aws/examples/advanced/ec2fleet-placement-groups.json
  specs/aws/examples/advanced/launch-template-userdata.json
  specs/aws/examples/advanced/spotfleet-diversified.json
  specs/aws/examples/asg-basic.json
  specs/aws/examples/basic/asg-simple.json
  specs/aws/examples/basic/ec2fleet-instant.json
  specs/aws/examples/basic/ec2fleet-maintain.json
  specs/aws/examples/basic/launch-template-minimal.json
  specs/aws/examples/basic/spotfleet-basic.json
  specs/aws/examples/complex/cross-az-redundancy.json
  specs/aws/examples/complex/custom-networking.json
  specs/aws/examples/complex/hybrid-spot-ondemand.json
  specs/aws/examples/ec2fleet-capacity-optimized-prioritized.json
  specs/aws/examples/ec2fleet-price-capacity-optimized.json
  specs/aws/examples/gpu-compute-cluster.json
  specs/aws/examples/launch-template-advanced.json
  specs/aws/examples/launch-template-basic.json
  specs/aws/examples/multi-tier-architecture.json
  specs/aws/examples/runinstances-basic.json
  specs/aws/examples/spotfleet-price-capacity-optimized.json
Due: quality-check, trivy-fs, trufflehog

docs: update references to reorganized example files
  awscpinst/config/awsprov_templates.json
  docs/api/native-spec-reference.md
  docs/configuration/native-spec-config.md
  tests/unit/providers/aws/test_spec_file_loading.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

examples: diversify instance types and modernize allocation strategies
  specs/aws/examples/ec2fleet-capacity-optimized-prioritized.json
  specs/aws/examples/ec2fleet-price-capacity-optimized.json
  specs/aws/examples/gpu-compute-cluster.json
  specs/aws/examples/multi-tier-architecture.json
Due: quality-check, trivy-fs, trufflehog

examples: fix instance types to m/r families with attribute-based selection
  specs/aws/examples/ec2fleet-attribute-based.json
  specs/aws/examples/ec2fleet-capacity-optimized-prioritized.json
  specs/aws/examples/ec2fleet-price-capacity-optimized.json
  specs/aws/examples/multi-tier-architecture.json
Due: quality-check, trivy-fs, trufflehog

examples: improve prioritized allocation with R-first priority and size diversity
  specs/aws/examples/ec2fleet-capacity-optimized-prioritized.json
Due: quality-check, trivy-fs, trufflehog

examples: let AWS allocation strategy handle subnet selection
  specs/aws/examples/ec2fleet-capacity-optimized-prioritized.json
  specs/aws/examples/ec2fleet-price-capacity-optimized.json
Due: quality-check, trivy-fs, trufflehog

examples: implement HPC-optimized spot diversification strategy
  specs/aws/examples/ec2fleet-capacity-optimized-prioritized.json
  specs/aws/examples/ec2fleet-hpc-spot-diversified.json
  specs/aws/examples/ec2fleet-price-capacity-optimized.json
Due: quality-check, trivy-fs, trufflehog

examples: update all provider APIs with HPC-optimized configurations
  specs/aws/examples/asg-basic.json
  specs/aws/examples/multi-tier-architecture.json
  specs/aws/examples/spotfleet-price-capacity-optimized.json
Due: quality-check, trivy-fs, trufflehog

fix: ensure consistency with project patterns and fix test issues
  tests/e2e/test_system_validation.py
  tests/integration/api/test_api_endpoints.py
  tests/integration/api/test_authentication_flows.py
  tests/integration/test_native_spec_all_providers.py
  tests/performance/test_auth_performance.py
  tests/security/test_auth_security.py
  tests/unit/config/test_env_expansion.py
  tests/unit/config/test_native_spec_validation.py
  tests/unit/providers/aws/test_base_context_mixin.py
  tests/unit/test_corner_cases.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

style: apply black formatting and fix import syntax errors
  tests/integration/api/test_api_endpoints.py
  tests/integration/api/test_authentication_flows.py
  tests/integration/test_native_spec_all_providers.py
  tests/performance/test_auth_performance.py
  tests/unit/providers/aws/test_spec_file_loading.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

fix: implement proper dynamic versioning for PyPI publishing
  dev-tools/scripts/generate_pyproject.py
  src/_package.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

chore: monthly dependency maintenance
  uv.lock
Due: none

fix: container workflow dynamic versioning
  .github/workflows/container.yml
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix: use pyproject.toml.template consistently across ALL workflows
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix: comprehensive workflow versioning and dependency issues
  .github/workflows/security.yml
  Makefile
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix: standardize UV setup across all workflows
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
  .github/workflows/validate-workflows.yml
  uv.lock
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix: final UV cache consistency corrections
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/publish.yml
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix: container manifest creation for multi-architecture images
  .github/workflows/container.yml
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix: Fix local-dry-run matrix dependency resolution issue
  Makefile
Due: none

feat: Complete workflow consolidation and standardization
  .github/actions/check-comment-trigger/action.yml
  .github/actions/get-config/action.yml
  .github/actions/setup-python-uv/action.yml
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/reusable-security.yml
  .github/workflows/reusable-test.yml
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix: Standardize git bot identity across all workflows
  Makefile
Due: none
