Repository awslabs/open-hostfactory-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, black, isort, flake8, mypy, pylint, bandit, safety, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-workflows, validate-actionlint, validate-shell-scripts, detect-secrets, check-file-sizes

Path conditions:
  format: any of: \.(py)$
  black: any of: \.(py)$
  isort: any of: \.(py)$
  flake8: any of: \.(py)$
  mypy: any of: \.(py)$
  pylint: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  hadolint: any of: Dockerfile.*
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$
  validate-imports-arch: any of: \.(py)$
  check-file-sizes-arch: any of: \.(py)$
  security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  semgrep: any of: \.(py)$
  trivy-fs: any of: \.(py|txt|yml|yaml|toml|json)$
  trufflehog: any of: \.(py|txt|yml|yaml|toml|json|md|sh)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  validate-actionlint: any of: \.github/workflows/.*\.(yml|yaml)$
  validate-shell-scripts: any of: \.sh$
  detect-secrets: any of: ^src/.*\.py$
  check-file-sizes: any of: \.(py)$

fix: Resolve Makefile naming inconsistencies and move complex logic
  Makefile
  dev-tools/scripts/security_container.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat: Add --quiet flags to reduce verbose output in Makefile targets
  Makefile
Due: none

fix: Add static matrix fallback for act dry-run validation
  .github/workflows/test-matrix.yml
  Makefile
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

refactor: Remove unnecessary local environment files for act
  .actrc
  .env.local.example
  .gitignore
  .secrets.local.example
  Makefile
Due: none

refactor: Move complex Makefile logic to dev-tools scripts
  Makefile
  dev-tools/scripts/container_health_check.py
  dev-tools/scripts/deps_manager.py
  dev-tools/scripts/hadolint_check.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat: Add act support for local GitHub Actions execution
  .actrc
  .env.local.example
  .gitignore
  .secrets.local.example
  Makefile
  dev-tools/scripts/ci_security.py
  dev-tools/scripts/container_health_check.py
  dev-tools/scripts/deps_manager.py
  dev-tools/scripts/hadolint_check.py
  dev-tools/scripts/install_dev_tools.py
  dev-tools/scripts/security_container.py
  dev-tools/scripts/uv_manager.py
  dev-tools/scripts/venv_setup.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat: Update actionlint validation for new GitHub Actions structure
  dev-tools/scripts/validate_actionlint.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

fix: Complete Makefile consistency - eliminate all remaining bash logic
  Makefile
  dev-tools/scripts/ci_security.py
  dev-tools/scripts/venv_setup.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

fix: Update pre-commit hooks to use format-fix target
  .pre-commit-config.yaml
Due: quality-check, security-scan, trivy-fs, trufflehog

fix: Critical workflow fixes for Makefile consistency and PR comment triggers
  .github/actions/check-comment-trigger/action.yml
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  Makefile
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

feat: Expand workflow validation to cover all GitHub YAML files
  dev-tools/scripts/validate_workflows.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

refactor: Move all uv-* Makefile targets to unified uv_manager.py script
  Makefile
  dev-tools/scripts/uv_manager.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

refactor: Fix Makefile target naming to follow ci-* pattern
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  Makefile
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

refactor: Consolidate git setup into single git-ci-setup target
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  Makefile
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

feat(interface): route interfaces through a shared operation catalog
  src/orb/api/routers/machines.py
  src/orb/api/routers/requests.py
  src/orb/api/routers/templates.py
  src/orb/interface/catalog.py
  src/orb/interface/machine_command_handlers.py
  src/orb/interface/request_command_handlers.py
  src/orb/interface/response_formatting_service.py
  src/orb/interface/template_command_handlers.py
  tests/interface/interface_dispatch_matrix_golden.json
  tests/interface/test_interface_dispatch_matrix_golden.py
  tests/unit/api/test_templates_router.py
  tests/unit/interface/test_catalog_renderers.py
  tests/unit/interface/test_cli_handler_execution.py
  tests/unit/interface/test_machine_command_handlers_new.py
  tests/unit/interface/test_scheduler_delegation_guard.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

test(interface): assert body consistency across interfaces
  tests/contract/test_catalog_body_consistency.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat(sdk): complete query methods and route cleanup to the admin service
  src/orb/application/commands/cleanup_handlers.py
  src/orb/application/dto/commands.py
  src/orb/application/queries/__init__.py
  src/orb/application/queries/cleanup_query_handlers.py
  src/orb/sdk/client.py
  src/orb/sdk/discovery.py
  src/orb/sdk/protocols.py
  tests/unit/application/commands/test_cleanup_handlers.py
  tests/unit/application/queries/test_cleanup_query_handlers.py
  tests/unit/application/test_dto.py
  tests/unit/architecture/test_application_import_boundaries.py
  tests/unit/sdk/test_sdk_client.py
  tests/unit/sdk/test_sdk_client_coverage.py
  tests/unit/sdk/test_sdk_discovery.py
  tests/unit/sdk/test_sdk_orb_client_uncovered.py
  tests/unit/sdk/test_sdk_protocol.py
  tests/unit/sdk/test_sdk_request_methods.py
  tests/unit/sdk/test_sdk_template_methods.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat(machine): add machine health query with stored and live-refresh paths
  docs/root/sdk/api-reference.md
  src/orb/application/dto/queries.py
  src/orb/application/machine/dto.py
  src/orb/application/queries/machine_query_handlers.py
  tests/unit/application/queries/test_get_machine_health_handler.py
  tests/unit/sdk/test_sdk_machine_health.py
  uv.lock
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat(machine): perform real provider teardown on resource cleanup
  src/orb/application/commands/machine_handlers.py
  src/orb/application/machine/commands.py
  src/orb/domain/base/operations.py
  src/orb/providers/aws/services/instance_operation_service.py
  src/orb/providers/aws/strategy/aws_provider_strategy.py
  src/orb/providers/base/strategy/provider_strategy.py
  tests/providers/aws/unit/test_instance_operation_service.py
  tests/unit/application/test_cleanup_machine_resources_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

chore(deps): monthly dependency maintenance
  uv.lock
Due: none

fix(api): return 404 only for genuinely-missing requests on single-ID GETs
  src/orb/api/routers/requests.py
  src/orb/application/services/orchestration/get_request_status.py
  tests/e2e/test_critical_path_e2e.py
  tests/unit/api/test_requests_router.py
  tests/unit/api/test_router_endpoints.py
  tests/unit/application/services/orchestration/test_get_request_status_orchestrator.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(test): make concurrent workflow tests thread-safe
  tests/integration/test_full_workflow.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

refactor(aws): route inline botocore Config through the shared factory
  src/orb/providers/aws/domain/services/ami_resolver.py
  src/orb/providers/aws/infrastructure/aws_client.py
  src/orb/providers/aws/services/infrastructure_discovery_service.py
  src/orb/providers/aws/storage/components/dynamodb_client_manager.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(config): resolve provider type without assuming AWS
  src/orb/config/managers/provider_manager.py
  src/orb/config/schemas/app_schema.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

refactor(sdk): compute CQRS parameter mapping once
  src/orb/sdk/discovery.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

security: warn when trusted_hosts disables host-header protection
  src/orb/api/server.py
  tests/security/test_trusted_hosts_warning.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

chore: remove dead code, clear bootstrap lint, fix inaccurate docstrings
  src/orb/bootstrap/port_registrations.py
  src/orb/bootstrap/telemetry.py
  src/orb/domain/request/request_metadata.py
  src/orb/providers/registration.py
  tests/unit/domain/test_request_metadata.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

test+docs: MCP descriptions, storage locking, deprecation guard, changelog CI
  .github/pull_request_template.md
  .github/workflows/changelog-validation.yml
  src/orb/infrastructure/storage/components/lock_manager.py
  src/orb/infrastructure/storage/components/sql_connection_manager.py
  src/orb/interface/machine_command_handlers.py
  src/orb/interface/request_command_handlers.py
  src/orb/interface/system_command_handlers.py
  src/orb/interface/template_command_handlers.py
  tests/providers/aws/mocked/test_sdk_onmoto.py
  tests/providers/aws/unit/infrastructure/test_machine_adapter.py
  tests/unit/domain/test_deprecation_alias_guard.py
  tests/unit/infrastructure/storage/test_sql_file_locking.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-workflows, validate-actionlint, detect-secrets, check-file-sizes

build(mcp): add the official Model Context Protocol SDK as an optional dependency
  pyproject.toml
  uv.lock
Due: safety, quality-check, security-scan, trivy-fs, trufflehog

feat(mcp): add a catalog-driven server on the official MCP SDK
  src/orb/interface/mcp/catalog_server.py
  tests/unit/interface/test_mcp_catalog_server.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat(mcp): serve the catalog-driven server and retire the hand-rolled paths
  src/orb/__init__.py
  src/orb/bootstrap/telemetry.py
  src/orb/cli/args.py
  src/orb/cli/main.py
  src/orb/cli/registry.py
  src/orb/interface/mcp/catalog_server.py
  src/orb/interface/mcp/server/__init__.py
  src/orb/interface/mcp/server/core.py
  src/orb/interface/mcp/server/handler.py
  src/orb/interface/mcp_command_handlers.py
  src/orb/mcp/__init__.py
  src/orb/mcp/discovery.py
  src/orb/mcp/py.typed
  src/orb/mcp/tools.py
  tests/integration/mcp/test_mcp_protocol_compliance.py
  tests/interface/mcp/test_mcp_server_core.py
  tests/interface/mcp/test_mcp_server_handler.py
  tests/mcp/test_mcp_discovery.py
  tests/mcp/test_mcp_tools.py
  tests/providers/aws/live/test_mcp_onaws.py
  tests/providers/aws/mocked/test_mcp_onmoto.py
  tests/providers/k8s/mocked/test_mcp_kmocked.py
  tests/unit/architecture/test_interface_provider_boundary.py
  tests/unit/architecture/test_provider_leak_detection.py
  tests/unit/cli/test_registry_bus_handler.py
  tests/unit/interface/mcp/test_mcp_core_new.py
  tests/unit/interface/mcp/test_mcp_handler_new.py
  tests/unit/interface/mcp/test_mcp_resources_and_validate.py
  tests/unit/interface/test_aws_leak_cleanup.py
  tests/unit/interface/test_mcp_command_handlers_new.py
  tests/unit/interface/test_mcp_server_handler.py
  tests/unit/interface/test_mcp_tool_schema.py
  tests/unit/misc2/test_mcp_discovery_and_tools.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

test(mcp): cover the unified server and refresh MCP docs and examples
  docs/root/cli/provider-override.md
  docs/root/mcp/integration-guide.md
  docs/root/mcp/tools-mode.md
  examples/mcp/nodejs/client_example.js
  examples/mcp/python/client_example.py
  tests/providers/aws/mocked/test_mcp_catalog_onmoto.py
  tests/providers/k8s/mocked/test_mcp_catalog_kmocked.py
  tests/unit/interface/test_mcp_server_compliance.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat(interface): add provider and single-machine operations to the catalog
  src/orb/interface/catalog.py
  src/orb/interface/system_command_handlers.py
  tests/e2e/test_cli_integration.py
  tests/unit/interface/test_configuration_handlers.py
  tests/unit/interface/test_system_and_config_command_handlers_new.py
  tests/unit/interface/test_system_command_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(mcp): accept null for optional tool args, harden validate output, tidy docs
  docs/root/cli/cli-reference.md
  src/orb/cli/main.py
  src/orb/interface/mcp/catalog_server.py
  tests/providers/aws/live/scenarios_mcp.py
  tests/unit/interface/test_mcp_server_compliance.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

chore: remove unused k8s-legacy constraints.txt
  k8s-legacy/constraints.txt
Due: quality-check, security-scan, trivy-fs, trufflehog

fix(mcp): make the mcp extra a true optional dependency
  pyproject.toml
  src/orb/cli/registry.py
  uv.lock
Due: format, black, isort, flake8, mypy, pylint, bandit, safety, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

refactor: relocate HostFactory k8s-hf scripts to deployment/
  deployment/hostfactory/k8s-hf/getAvailableTemplates.sh
  deployment/hostfactory/k8s-hf/getRequestStatus.sh
  deployment/hostfactory/k8s-hf/getReturnRequests.sh
  deployment/hostfactory/k8s-hf/requestMachines.sh
  deployment/hostfactory/k8s-hf/requestReturnMachines.sh
Due: trufflehog, validate-shell-scripts

test: point HF script assertions at the deployment location
  tests/integration/k8s_legacy/test_shim_e2e.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

docs: point operators at the new HF script location
  README.md
  docs/root/operational/from-open-resource-broker.md
Due: quality-check, trufflehog
