Repository awslabs/open-hostfactory-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, black, isort, flake8, mypy, pylint, bandit, safety, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, detect-secrets, check-file-sizes

Path conditions:
  format: any of: \.(py)$
  black: any of: \.(py)$
  isort: any of: \.(py)$
  flake8: any of: \.(py)$
  mypy: any of: \.(py)$
  pylint: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  hadolint: any of: Dockerfile.*
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$
  validate-imports-arch: any of: \.(py)$
  check-file-sizes-arch: any of: \.(py)$
  security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
  check-file-sizes: any of: \.(py)$

fix: resolve actionlint security and shellcheck issues
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
Due: quality-check, security-scan, validate-workflows

fix: resolve ALL remaining actionlint issues
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/publish.yml
  .github/workflows/test-matrix.yml
Due: quality-check, security-scan, validate-workflows

fix: add missing Python and uv setup to validate-workflows.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, security-scan, validate-workflows

fix: use consistent config pattern in validate-workflows.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, security-scan, validate-workflows

fix: use run-tool pattern for validate_workflows.py
  Makefile
Due: none

revert: maintain consistency - call dev-tools scripts directly
  Makefile
Due: none

fix: use venv Python explicitly for validate_workflows.py
  Makefile
Due: none

fix: use 'uv run' for validate_workflows.py script
  Makefile
Due: none

fix: explicitly install actionlint before using it
  Makefile
Due: none

fix: explicitly install shellcheck before using it
  Makefile
Due: none

fix: correct pre-commit target name and actionlint installation
  .pre-commit-config.yaml
  Makefile
  dev-tools/scripts/install_dev_tools.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

feat: create dedicated validation scripts for shell and actionlint
  Makefile
  dev-tools/scripts/validate_actionlint.py
  dev-tools/scripts/validate_shell_scripts.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

fix: use GitHub Action for actionlint in CI and fix local installation
  .github/workflows/validate-workflows.yml
  dev-tools/scripts/install_dev_tools.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, check-file-sizes

fix: use official actionlint download script for installation
  dev-tools/scripts/install_dev_tools.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

fix: actionlint installation and run through problem matchers
  .github/actionlint-matcher.json
  .github/workflows/validate-workflows.yml
Due: quality-check, security-scan, validate-workflows

feat: add shellcheck validation to validate-workflows.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, security-scan, validate-workflows

fix: configure shellcheck action to exclude unwanted directories
  .github/workflows/validate-workflows.yml
Due: quality-check, security-scan, validate-workflows

fix: resolve all shellcheck issues across shell scripts
  dev-tools/package/build.sh
  dev-tools/package/test_install.sh
  dev-tools/scripts/ci_docs_build_for_pages.sh
  dev-tools/scripts/container_build.sh
  dev-tools/scripts/install_completions.sh
  dev-tools/scripts/run_tool.sh
  tests/test-docker.sh
Due: none

refactor: move test-docker.sh from tests/ to dev-tools/scripts/
  dev-tools/scripts/test-docker.sh
  docs/docs/developer_guide/testing.md
Due: quality-check

fix: resolve additional shellcheck issues found by GitHub Action
  dev-tools/completions/bash/ohfp-completion.bash
  dev-tools/package/install_dev.sh
  dev-tools/scripts/check_requirements.sh
  dev-tools/scripts/run_tool.sh
  dev-tools/scripts/validate_shell_scripts.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

fix: handle empty BUILD_ARGS in build script
  dev-tools/package/build.sh
Due: none

fix: add shellcheck disable for BUILD_ARGS word splitting
  dev-tools/package/build.sh
Due: none

fix: align container builds and security scanning
  .github/workflows/container.yml
  .github/workflows/security.yml
  Makefile
  dev-tools/docker/Dockerfile.dev-tools
  dev-tools/scripts/container_build.sh
  dev-tools/scripts/install_dev_tools.py
  dev-tools/scripts/validate_actionlint.py
  dev-tools/scripts/validate_shell_scripts.py
Due: format, black, isort, flake8, mypy, pylint, bandit, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, check-file-sizes

fix: complete container security and build improvements
  .github/workflows/security.yml
  Makefile
  dev-tools/docker/Dockerfile.dev-tools
Due: hadolint, quality-check, security-scan, validate-workflows

fix: correct Python version default to 3.13 in dev-tools Dockerfile
  dev-tools/docker/Dockerfile.dev-tools
Due: hadolint

fix: remove unused variable in container build script
  dev-tools/scripts/container_build.sh
Due: none

feat: add AWS Context field support for EC2 Fleet, ASG, and Spot Fleet
  README.md
  config/config.example.json
  docs/docs/configuration/examples.md
  src/providers/aws/configuration/template_extension.py
  src/providers/aws/domain/template/aggregate.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  tests/unit/providers/test_aws_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: use makefile targets for dev tools installation in Dockerfile
  dev-tools/docker/Dockerfile.dev-tools
Due: hadolint

fix: apply black formatting to resolve pipeline issues
  src/providers/aws/configuration/template_extension.py
  tests/unit/providers/test_aws_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: minimal container build fix with proper entry points
  pyproject.toml.template
Due: none

fix: correct package structure for container build
  pyproject.toml.template
Due: none

fix: add bootstrap module to py-modules for container packaging
  pyproject.toml.template
Due: none

fix: resolve storage list formatting error
  src/interface/storage_command_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

feat: update AWS Context field to use proper AWS format
  README.md
  config/config.example.json
  docs/docs/configuration/examples.md
  tests/unit/providers/test_aws_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

docs: improve AWS Context field description using Karpenter language
  README.md
  docs/docs/configuration/examples.md
Due: quality-check

fix: add build info as environment variables in container
  .github/workflows/publish.yml
  Dockerfile
  docs/deployment/pypi-setup.md
Due: hadolint, quality-check, security-scan, validate-workflows

feat: add PR comment triggers for CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
Due: quality-check, security-scan, validate-workflows

security: add authorization checks to comment triggers
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  CONTRIBUTING.md
Due: quality-check, security-scan, validate-workflows

security: restrict comment triggers to TestPyPI only
  .github/workflows/publish.yml
  CONTRIBUTING.md
Due: quality-check, security-scan, validate-workflows

feat: add container comment triggers with version alignment
  .github/workflows/container.yml
  CONTRIBUTING.md
Due: quality-check, security-scan, validate-workflows
