Repository awslabs/open-hostfactory-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, black, isort, flake8, mypy, pylint, bandit, safety, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-workflows, validate-actionlint, validate-shell-scripts, detect-secrets, check-file-sizes

format:
  name: Auto-Format Code
  entry: make format
  language: system
  pass_filenames: false
  description: Auto-format Python code with black and isort

black:
  name: Black (Code Formatting)
  entry: make ci-quality-black
  language: system
  pass_filenames: false
  description: Check Python code formatting with Black

isort:
  name: isort (Import Sorting)
  entry: make ci-quality-isort
  language: system
  pass_filenames: false
  description: Check Python import sorting with isort

flake8:
  name: flake8 (Style Guide)
  entry: make ci-quality-flake8
  language: system
  pass_filenames: false
  description: Check Python style guide compliance with flake8

mypy:
  name: mypy (Type Checking)
  entry: make ci-quality-mypy
  language: system
  pass_filenames: false
  description: Check Python type annotations with mypy
  warning_only: true

pylint:
  name: pylint (Code Analysis)
  entry: make ci-quality-pylint
  language: system
  pass_filenames: false
  description: Run pylint code analysis
  warning_only: true

bandit:
  name: bandit (Security Analysis)
  entry: make ci-security-bandit
  language: system
  pass_filenames: false
  description: Run bandit security analysis

safety:
  name: safety (Dependency Security)
  entry: make ci-security-safety
  language: system
  pass_filenames: false
  description: Check dependencies for known security vulnerabilities

hadolint:
  name: hadolint (Dockerfile Linting)
  entry: make hadolint-check
  language: system
  pass_filenames: false
  description: Lint Dockerfile with hadolint
  warning_only: true

quality-check:
  name: Quality Check
  entry: make quality-check
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks

validate-imports:
  name: Validate Python Imports
  entry: make ci-imports
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

validate-cqrs:
  name: Validate CQRS Patterns
  entry: make ci-arch-cqrs
  language: system
  pass_filenames: false
  description: Validate CQRS architecture patterns
  warning_only: true

check-architecture:
  name: Check Architecture Compliance
  entry: make ci-arch-clean
  language: system
  pass_filenames: false
  description: Check Clean Architecture compliance
  warning_only: true

validate-imports-arch:
  name: Validate Import Architecture
  entry: make ci-arch-imports
  language: system
  pass_filenames: false
  description: Validate import architecture compliance
  warning_only: true

check-file-sizes-arch:
  name: Check File Sizes (Architecture)
  entry: make ci-arch-file-sizes
  language: system
  pass_filenames: false
  description: Check file sizes for architecture compliance
  warning_only: true

security-scan:
  name: Security Scan
  entry: make security-scan
  language: system
  pass_filenames: false
  description: Run comprehensive security scan
  warning_only: true

fix: Make explicit the heterogeneous nature of Azure resource IDs
  src/orb/providers/azure/infrastructure/handlers/azure_handler.py
  src/orb/providers/azure/strategy/azure_provider_strategy.py
  src/orb/providers/base/strategy/provider_strategy.py
  tests/providers/azure/test_azure_resource_id_contract.py
  tests/unit/providers/base/strategy/test_get_resource_id_pattern.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: split azure runtime and test dependencies
  .github/workflows/shared-config.yml
  pyproject.toml
  tests/providers/azure/test_import_guards.py
  uv.lock
Due: format, black, isort, flake8, mypy, pylint, bandit, safety, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-workflows, validate-actionlint, check-file-sizes

fix: simplify vmss delete
  src/orb/providers/azure/infrastructure/handlers/azure_handler.py
  src/orb/providers/azure/infrastructure/handlers/vmss_handler.py
  src/orb/providers/azure/infrastructure/vmss_cleanup.py
  src/orb/providers/azure/services/inventory_service.py
  src/orb/providers/azure/services/termination_service.py
  src/orb/providers/azure/strategy/azure_provider_strategy.py
  tests/providers/azure/test_async_azure_services.py
  tests/providers/azure/test_azure_strategy.py
  tests/providers/azure/test_azure_strategy_lifecycle.py
  tests/providers/azure/test_azure_strategy_status.py
  tests/providers/azure/test_vmss_cleanup.py
  tests/providers/azure/test_vmss_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: Change init log to debug
  src/orb/providers/azure/infrastructure/credential_factory.py
  tests/providers/azure/test_azure_credential_factory.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: Revert changes to ORB core
  src/orb/application/commands/request_sync_handlers.py
  src/orb/application/services/machine_sync_service.py
  src/orb/domain/template/factory.py
  tests/unit/application/commands/test_request_sync_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: Change cyclecloud auth model to provider-owned rather then template-owned
  src/orb/application/commands/request_sync_handlers.py
  src/orb/application/services/machine_sync_service.py
  src/orb/providers/azure/configuration/config.py
  src/orb/providers/azure/configuration/template_extension.py
  src/orb/providers/azure/domain/template/azure_template_aggregate.py
  src/orb/providers/azure/infrastructure/cyclecloud_session.py
  src/orb/providers/azure/infrastructure/cyclecloud_session_builder.py
  src/orb/providers/azure/infrastructure/handlers/cyclecloud_handler.py
  src/orb/providers/azure/scheduler/hostfactory_field_mapping.py
  src/orb/providers/azure/services/cyclecloud_request_context_service.py
  src/orb/providers/azure/services/inventory_service.py
  src/orb/providers/azure/services/termination_service.py
  src/orb/providers/azure/strategy/azure_provider_strategy.py
  tests/providers/azure/test_azure_strategy_lifecycle.py
  tests/providers/azure/test_azure_strategy_status.py
  tests/providers/azure/test_cyclecloud_handler.py
  tests/providers/azure/test_cyclecloud_session_builder.py
  tests/unit/application/commands/test_request_sync_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: Cyclecloud post merge
  src/orb/providers/azure/infrastructure/cyclecloud_resource_id.py
  src/orb/providers/azure/infrastructure/cyclecloud_session.py
  src/orb/providers/azure/infrastructure/handlers/azure_handler.py
  src/orb/providers/azure/infrastructure/handlers/cyclecloud_handler.py
  src/orb/providers/azure/services/inventory_service.py
  src/orb/providers/azure/services/termination_service.py
  src/orb/providers/azure/strategy/azure_provider_strategy.py
  tests/providers/azure/test_async_azure_services.py
  tests/providers/azure/test_azure_config_and_infra.py
  tests/providers/azure/test_azure_resource_id_contract.py
  tests/providers/azure/test_azure_strategy_lifecycle.py
  tests/providers/azure/test_azure_strategy_status.py
  tests/providers/azure/test_cyclecloud_handler.py
  tests/providers/azure/test_cyclecloud_resource_id.py
  tests/providers/azure/test_cyclecloud_session_builder.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: pin azure versions
  pyproject.toml
  uv.lock
Due: safety, quality-check, security-scan, trivy-fs, trufflehog

fix: Revert comment changes in shared code
  tests/unit/providers/base/strategy/test_get_resource_id_pattern.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

fix: increase test coverage
  tests/providers/azure/test_azure_cli_spec.py
  tests/providers/azure/test_health_check_service.py
  tests/providers/azure/test_spot_placement_planner.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

fix: rebase on latest main
  dev-tools/setup/run_tool.sh
  examples/mcp/python/client_example.py
  makefiles/ci.mk
  makefiles/common.mk
  pyproject.toml
  src/orb/providers/azure/provider_plugin.py
  tests/providers/azure/test_azure_config_and_infra.py
  tests/providers/azure/test_provider_registration_contracts.py
  tests/providers/azure/testconf.mk
  uv.lock
Due: format, black, isort, flake8, mypy, pylint, bandit, safety, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-shell-scripts, detect-secrets, check-file-sizes

fix: ruff required different order in CI and locally
  examples/mcp/python/client_example.py
  pyproject.toml
Due: format, black, isort, flake8, mypy, pylint, bandit, safety, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

fix: ci needs to pull in correct dependencies
  .github/actions/setup-uv-cached/action.yml
  .github/workflows/ci-tests.yml
  .github/workflows/reusable-test.yml
  .github/workflows/test-matrix.yml
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix: new registration contract
  src/orb/providers/azure/registration.py
  tests/providers/azure/test_provider_registration_contracts.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: codeQL was conservative around circular imports, added a specific type
  src/orb/providers/azure/services/handler_resolver.py
  src/orb/providers/azure/services/inventory_service.py
  src/orb/providers/azure/services/termination_service.py
  tests/providers/azure/test_async_azure_services.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: Fix CI requiring live test
  tests/providers/azure/live/conftest.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

fix: Fix update NLTK due to bug in prior version
  pyproject.toml
  uv.lock
Due: safety, quality-check, security-scan, trivy-fs, trufflehog

fix: VMSS in replace mode
  src/orb/providers/azure/infrastructure/handlers/vmss_handler.py
  tests/providers/azure/test_vmss_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: to_template_defaults dropping values
  src/orb/providers/azure/configuration/template_extension.py
  tests/providers/azure/test_azure_validation_adapter.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: cyclecloud max value
  src/orb/domain/services/template_validation_domain_service.py
  src/orb/providers/azure/capabilities.py
  src/orb/providers/azure/infrastructure/handlers/cyclecloud_handler.py
  tests/providers/azure/test_azure_config_and_infra.py
  tests/providers/azure/test_cyclecloud_handler.py
  tests/unit/domain/test_template_validation_domain_service.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: remove "supported_fleet_types" from Azure
  src/orb/providers/azure/capabilities.py
  src/orb/providers/azure/configuration/template_extension.py
  tests/providers/azure/test_azure_config_and_infra.py
  tests/providers/azure/test_azure_validation_adapter.py
  tests/providers/azure/test_cyclecloud_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: changes to shared code are not needed
  src/orb/domain/services/template_validation_domain_service.py
  src/orb/providers/base/strategy/provider_strategy.py
  tests/unit/domain/test_template_validation_domain_service.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: remove dead azure_resource_manager injections
  src/orb/providers/azure/infrastructure/azure_handler_factory.py
  src/orb/providers/azure/infrastructure/handlers/vmss_handler.py
  src/orb/providers/azure/registration.py
  src/orb/providers/azure/services/runtime_dependencies.py
  tests/providers/azure/test_azure_config_and_infra.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: ensure exception context is not discarded
  src/orb/providers/azure/strategy/azure_provider_strategy.py
  tests/providers/azure/test_azure_strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: potentially discarded subnet
  src/orb/providers/azure/infrastructure/handlers/azure_handler.py
  src/orb/providers/azure/strategy/azure_provider_strategy.py
  tests/providers/azure/test_azure_strategy_lifecycle.py
  tests/providers/azure/test_vmss_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: error on conflicting keys from node attributes
  src/orb/providers/azure/configuration/template_extension.py
  src/orb/providers/azure/domain/template/azure_template_aggregate.py
  src/orb/providers/azure/infrastructure/services/arm_payload_mapper.py
  tests/providers/azure/test_azure_template.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: spot placement mistakenly claiming success in some cases
  src/orb/providers/azure/services/spot_launch_service.py
  src/orb/providers/azure/services/spot_placement_execution.py
  tests/providers/azure/test_spot_placement_execution.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: distinguish low spot placement score from not found
  src/orb/providers/azure/infrastructure/services/spot_placement_score_adapter.py
  tests/providers/azure/test_azure_strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: Resolver failures are relabelled as "handler not found", hiding auth and config errors
  src/orb/providers/azure/infrastructure/services/azure_native_spec_service.py
  src/orb/providers/azure/services/runtime_dependencies.py
  tests/providers/azure/test_azure_native_spec_service.py
  tests/providers/azure/test_azure_strategy.py
  tests/providers/azure/test_azure_strategy_lifecycle.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: AzureArmResourceId validation
  src/orb/providers/azure/domain/template/value_objects.py
  tests/providers/azure/test_azure_template.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: Test logic removed from production code
  src/orb/providers/azure/strategy/azure_provider_strategy.py
  tests/providers/azure/test_azure_strategy.py
  tests/providers/azure/test_azure_strategy_lifecycle.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: Justify getattr
  src/orb/providers/azure/domain/template/azure_template_aggregate.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: Bounds of 0-100 on percent
  src/orb/providers/azure/configuration/template_extension.py
  tests/providers/azure/test_azure_config_and_infra.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: Keep subscription ID and de-dupe network helpers
  src/orb/providers/azure/infrastructure/azure_client.py
  src/orb/providers/azure/infrastructure/services/azure_network_identity_resolver.py
  tests/providers/azure/test_azure_client.py
  tests/providers/azure/test_azure_network_identity_resolver.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: Added failed-deployment cleanup for VM, NIC, and public IP
  src/orb/providers/azure/infrastructure/handlers/single_vm_handler.py
  src/orb/providers/azure/infrastructure/services/azure_deployment_service.py
  src/orb/providers/azure/services/resource_metadata_service.py
  tests/providers/azure/test_azure_deployment_service.py
  tests/providers/azure/test_resource_metadata_service.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

chore(deps): monthly dependency maintenance
  uv.lock
Due: none

Path conditions:
  format: any of: \.(py)$
  black: any of: \.(py)$
  isort: any of: \.(py)$
  flake8: any of: \.(py)$
  mypy: any of: \.(py)$
  pylint: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  hadolint: any of: Dockerfile.*
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$
  validate-imports-arch: any of: \.(py)$
  check-file-sizes-arch: any of: \.(py)$
  security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  semgrep: any of: \.(py)$
  trivy-fs: any of: \.(py|txt|yml|yaml|toml|json)$
  trufflehog: any of: \.(py|txt|yml|yaml|toml|json|md|sh)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  validate-actionlint: any of: \.github/workflows/.*\.(yml|yaml)$
  validate-shell-scripts: any of: \.sh$
  detect-secrets: any of: ^src/.*\.py$
  check-file-sizes: any of: \.(py)$
