Repository awslabs/open-hostfactory-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, black, isort, flake8, mypy, pylint, bandit, safety, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-workflows, validate-actionlint, validate-shell-scripts, detect-secrets, check-file-sizes

Path conditions:
  format: any of: \.(py)$
  black: any of: \.(py)$
  isort: any of: \.(py)$
  flake8: any of: \.(py)$
  mypy: any of: \.(py)$
  pylint: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  hadolint: any of: Dockerfile.*
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$
  validate-imports-arch: any of: \.(py)$
  check-file-sizes-arch: any of: \.(py)$
  security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  semgrep: any of: \.(py)$
  trivy-fs: any of: \.(py|txt|yml|yaml|toml|json)$
  trufflehog: any of: \.(py|txt|yml|yaml|toml|json|md|sh)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  validate-actionlint: any of: \.github/workflows/.*\.(yml|yaml)$
  validate-shell-scripts: any of: \.sh$
  detect-secrets: any of: ^src/.*\.py$
  check-file-sizes: any of: \.(py)$

chore: remove the vendored k8s-legacy mini-repo
  .gitattributes
  k8s-legacy/.github/ISSUE_TEMPLATE/Meeting_minutes.md
  k8s-legacy/.github/workflows/license-scanning.yml
  k8s-legacy/.github/workflows/nix-build.yml
  k8s-legacy/.gitignore
  k8s-legacy/AGENTS.md
  k8s-legacy/CONTRIBUTING.md
  k8s-legacy/LICENSE
  k8s-legacy/LICENSE.spdx
  k8s-legacy/NOTICE
  k8s-legacy/README.md
  k8s-legacy/create_dev_venv.sh
  k8s-legacy/default.nix
  k8s-legacy/documentation/api.rst
  k8s-legacy/documentation/cli.rst
  k8s-legacy/documentation/conf.py
  k8s-legacy/documentation/design.md
  k8s-legacy/documentation/index.rst
  k8s-legacy/documentation/request_flow.png
  k8s-legacy/flake.nix
  k8s-legacy/hostfactory/providerplugins/hostProviderPlugins.json
  k8s-legacy/hostfactory/providers/hostProviders.json
  k8s-legacy/hostfactory/requestors/hostRequestors.json
  k8s-legacy/hostfactory/requestors/symA/conf/symAreq_config.json
  k8s-legacy/hostfactory/requestors/symA/conf/symAreq_policy_config.json
  k8s-legacy/makevenv.sh
  k8s-legacy/ruff.toml
  k8s-legacy/tools/compute-liveness
  k8s-legacy/tools/configure-pod-params
  k8s-legacy/tools/push-cmp-logs
  k8s-legacy/tools/refresh-pod-hostnames
  k8s-legacy/tools/run-kubectl
  k8s-legacy/tools/run-podman
  k8s-legacy/tools/symphony-exporter-bootstrap
  k8s-legacy/tools/sync-hmac-creds
  k8s-legacy/tools/sync-registry-creds
  k8s-legacy/tox.ini
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-workflows, validate-actionlint, validate-shell-scripts, check-file-sizes

chore: mark HostFactory k8s-hf scripts executable
  deployment/hostfactory/k8s-hf/getAvailableTemplates.sh
  deployment/hostfactory/k8s-hf/getRequestStatus.sh
  deployment/hostfactory/k8s-hf/getReturnRequests.sh
  deployment/hostfactory/k8s-hf/requestMachines.sh
  deployment/hostfactory/k8s-hf/requestReturnMachines.sh
Due: trufflehog, validate-shell-scripts

refactor(providers): invert provider→application handler and native-spec deps
  src/orb/application/base/provider_handlers.py
  src/orb/application/interfaces/provider_handler.py
  src/orb/application/services/native_spec_service.py
  src/orb/bootstrap/core_services.py
  src/orb/domain/base/ports/native_spec_port.py
  src/orb/domain/base/provider_handler_base.py
  src/orb/providers/aws/infrastructure/aws_handler_factory.py
  src/orb/providers/aws/infrastructure/handlers/base_handler.py
  src/orb/providers/k8s/provider_plugin.py
  src/orb/providers/k8s/registration.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

refactor(config): remove AWS vocabulary from generic config schemas
  config/default_config.json
  src/orb/config/default_config.json
  src/orb/config/schemas/common_schema.py
  src/orb/config/schemas/performance_schema.py
  src/orb/providers/aws/configuration/__init__.py
  src/orb/providers/aws/configuration/caching_config.py
  tests/unit/config/test_schema_validators_misc.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat(api): add structured audit logging for authentication events
  src/orb/api/middleware/auth_middleware.py
  src/orb/infrastructure/auth/strategy/bearer_token_strategy_enhanced.py
  src/orb/infrastructure/logging/logger.py
  tests/api/middleware/test_auth_middleware.py
  tests/unit/infrastructure/auth/test_enhanced_bearer_token.py
  tests/unit/misc2/test_auth_audit_logger.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(aws): log swallowed errors in AWS provider best-effort paths
  src/orb/providers/aws/auth/cognito_strategy.py
  src/orb/providers/aws/cli/aws_cli_spec.py
  src/orb/providers/aws/configuration/config.py
  src/orb/providers/aws/domain/services/ami_resolver.py
  src/orb/providers/aws/domain/template/aws_template_aggregate.py
  src/orb/providers/aws/infrastructure/caching/aws_image_cache.py
  src/orb/providers/aws/infrastructure/handlers/ec2_fleet/release_manager.py
  src/orb/providers/aws/infrastructure/handlers/spot_fleet/release_manager.py
  src/orb/providers/aws/registration.py
  src/orb/providers/aws/services/infrastructure_discovery_service.py
  src/orb/providers/aws/strategy/aws_provider_strategy.py
  tests/providers/aws/unit/test_infrastructure_discovery_service.py
  tests/unit/providers/aws/test_aws_image_cache_logging.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat(api): enforce HTTPS with redirect and configurable HSTS
  src/orb/api/middleware/security_headers_middleware.py
  src/orb/api/server.py
  src/orb/config/schemas/server_schema.py
  tests/api/middleware/test_security_headers_middleware.py
  tests/security/test_https_enforcement.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

refactor(utils): drop duplicate deep_merge_dicts in favor of canonical deep_merge
  src/orb/infrastructure/utilities/common/collections/__init__.py
  src/orb/infrastructure/utilities/common/collections/transforming.py
  tests/unit/infrastructure/utilities/test_collection_transforming.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

chore: relocate HostFactory reference docs and drop dead dev env script
  docs/root/hostfactory/awsprov_config.md
  docs/root/hostfactory/awsprov_templates.md
  docs/root/hostfactory/input-output.md
  local_env.sh
  src/orb/infrastructure/scheduler/hostfactory/formatters/status_mapper.py
  src/orb/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  tests/infrastructure/test_getrequestatus_functionality.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-shell-scripts, detect-secrets, check-file-sizes

test: cover untested command and query handlers
  tests/unit/application/commands/test_machine_command_handlers.py
  tests/unit/application/commands/test_provider_command_handlers.py
  tests/unit/application/commands/test_request_creation_handlers.py
  tests/unit/application/commands/test_request_handlers_reexport.py
  tests/unit/application/commands/test_sync_request_handler.py
  tests/unit/application/commands/test_system_command_handlers.py
  tests/unit/application/queries/test_bulk_handlers_init.py
  tests/unit/application/queries/test_list_requests_pipeline.py
  tests/unit/application/queries/test_list_return_requests_pipeline.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat(sdk): add dry-run override to ORBClient
  src/orb/sdk/client.py
  src/orb/sdk/config.py
  tests/unit/sdk/test_sdk_constructor_overrides.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

test: rename hand-rolled Mock* test doubles to Fake*
  tests/fixtures/mock_provider.py
  tests/infrastructure/di/test_injectable_decorator.py
  tests/infrastructure/registry/test_base_registry.py
  tests/infrastructure/registry/test_base_registry_factory.py
  tests/infrastructure/registry/test_registry_factory.py
  tests/infrastructure/storage/interfaces/test_interfaces.py
  tests/infrastructure/test_getrequestatus_functionality.py
  tests/integration/api/test_authentication_flows.py
  tests/integration/test_dependency_injection.py
  tests/integration/test_hostfactory_lifecycle.py
  tests/unit/architecture/test_cqrs_compliance.py
  tests/unit/cli/test_response_formatter.py
  tests/unit/domain/test_base_entities.py
  tests/unit/providers/test_provider_interface.py
  tests/unit/test_injectable_migration.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

test: clear residual pyright errors in test suite
  tests/providers/k8s/unit/utilities/test_pod_state.py
  tests/unit/application/test_application_comprehensive.py
  tests/unit/infrastructure/test_infrastructure_comprehensive.py
  tests/unit/providers/test_providers_comprehensive.py
  tests/unit/test_asg_stack_deleted.py
  tests/unit/test_install_dev_tools_security.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat: extend --wait blocking mode to request status, SDK, and REST
  src/orb/api/routers/machines.py
  src/orb/api/routers/requests.py
  src/orb/application/services/orchestration/dtos.py
  src/orb/application/services/orchestration/get_request_status.py
  src/orb/cli/args.py
  src/orb/interface/request_command_handlers.py
  src/orb/sdk/client.py
  tests/unit/api/test_router_endpoints.py
  tests/unit/application/services/orchestration/test_get_request_status_orchestrator.py
  tests/unit/interface/test_request_command_handlers_new.py
  tests/unit/sdk/test_sdk_client.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

test(aws): cover fleet fulfilment mapping, contract parity, retry runtime
  tests/providers/aws/contract/test_aws_ec2_fleet_contract.py
  tests/providers/aws/contract/test_aws_spot_fleet_contract.py
  tests/providers/aws/mocked/test_fleet_fulfilment_mapping.py
  tests/providers/aws/unit/handlers/test_base_handler_circuit_breaker_config.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat(config): persist 'config set' edits to disk
  src/orb/api/routers/config.py
  src/orb/application/commands/system.py
  src/orb/application/commands/system_handlers.py
  src/orb/cli/args.py
  src/orb/cli/factories/system_command_factory.py
  src/orb/config/managers/configuration_manager.py
  src/orb/interface/config_command_handlers.py
  tests/unit/api/test_config_router.py
  tests/unit/application/commands/test_system_command_handlers.py
  tests/unit/cli/test_factory_system.py
  tests/unit/config/test_configuration_manager_coverage.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat(ui): live-update request list rows via SSE
  src/orb/ui/pages/requests.py
  tests/ui/test_state_integration.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

docs(cli): standardize help text across all commands
  src/orb/cli/args.py
  src/orb/cli/help_utils.py
  src/orb/interface/infrastructure_command_handler.py
  tests/unit/cli/test_args_contract.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(config): keep per-type resource prefixes empty when unset
  src/orb/config/schemas/common_schema.py
  src/orb/infrastructure/adapters/configuration_adapter.py
  src/orb/infrastructure/utilities/common/resource_naming.py
  src/orb/providers/aws/domain/services/ami_resolver.py
  src/orb/providers/aws/domain/template/aws_template_aggregate.py
  src/orb/providers/aws/strategy/aws_provider_strategy.py
  tests/api/middleware/test_auth_middleware.py
  tests/unit/infrastructure/adapters/coverage_gap/test_configuration_adapter.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

docs(config): explain intentional temp-file cleanup fallback
  src/orb/config/managers/configuration_manager.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(machine): persist status change from immutable aggregate
  src/orb/application/commands/machine_handlers.py
  tests/unit/application/commands/test_machine_command_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(queries): repair bulk template and machine retrieval
  src/orb/application/queries/bulk_handlers.py
  tests/unit/application/queries/test_bulk_handlers.py
  tests/unit/application/queries/test_bulk_handlers_init.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

chore(sdk): regenerate OpenAPI spec for wait mode and config-set persist
  sdk/spec/openapi.json
Due: quality-check, trivy-fs, trufflehog

test: satisfy the type checker in bulk-handler, k8s, and UI state tests
  tests/providers/k8s/unit/utilities/test_pod_state.py
  tests/ui/test_state_integration.py
  tests/unit/application/queries/test_bulk_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

test: type mock introspection call on injected logger
  tests/unit/infrastructure/adapters/coverage_gap/test_configuration_adapter.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

test(interface): cover response formatting over both scheduler strategies
  tests/unit/interface/test_response_formatting_service_strategies.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat(api): add AWS resource discovery endpoint
  src/orb/api/routers/providers.py
  src/orb/providers/aws/services/infrastructure_discovery_service.py
  src/orb/providers/aws/strategy/aws_provider_strategy.py
  tests/providers/aws/unit/test_infrastructure_discovery_service.py
  tests/unit/api/test_providers_discover_router.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

ci: self-warming dependency cache without a priming gate
  .github/actions/setup-uv-cached/action.yml
  .github/workflows/cache-management.yml
  .github/workflows/changelog-validation.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-tests.yml
  .github/workflows/dependabot.yml
  .github/workflows/dev-containers.yml
  .github/workflows/docs.yml
  .github/workflows/reusable-security.yml
  .github/workflows/reusable-test.yml
  .github/workflows/security-code.yml
  .github/workflows/test-matrix.yml
  .github/workflows/validate-workflows.yml
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix(api): stop caching swallowed AWS errors as empty discovery results
  src/orb/providers/aws/services/infrastructure_discovery_service.py
  tests/providers/aws/unit/test_infrastructure_discovery_service.py
  tests/unit/api/test_providers_discover_router.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

refactor(application): standardise orchestrator error handling
  src/orb/application/services/orchestration/acquire_machines.py
  src/orb/application/services/orchestration/base.py
  src/orb/application/services/orchestration/cancel_request.py
  src/orb/application/services/orchestration/create_template.py
  src/orb/application/services/orchestration/delete_template.py
  src/orb/application/services/orchestration/get_machine.py
  src/orb/application/services/orchestration/get_provider_config.py
  src/orb/application/services/orchestration/get_provider_health.py
  src/orb/application/services/orchestration/get_provider_metrics.py
  src/orb/application/services/orchestration/get_request_status.py
  src/orb/application/services/orchestration/get_scheduler_config.py
  src/orb/application/services/orchestration/get_storage_config.py
  src/orb/application/services/orchestration/get_template.py
  src/orb/application/services/orchestration/list_machines.py
  src/orb/application/services/orchestration/list_providers.py
  src/orb/application/services/orchestration/list_requests.py
  src/orb/application/services/orchestration/list_return_requests.py
  src/orb/application/services/orchestration/list_scheduler_strategies.py
  src/orb/application/services/orchestration/list_storage_strategies.py
  src/orb/application/services/orchestration/list_templates.py
  src/orb/application/services/orchestration/refresh_templates.py
  src/orb/application/services/orchestration/return_machines.py
  src/orb/application/services/orchestration/start_machines.py
  src/orb/application/services/orchestration/stop_machines.py
  src/orb/application/services/orchestration/update_template.py
  src/orb/application/services/orchestration/validate_template.py
  src/orb/application/services/orchestration/watch_request_status.py
  tests/unit/application/services/orchestration/test_orchestrator_base.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

test(api): rewind discovery-cache expiry relative to monotonic clock
  src/orb/providers/aws/services/infrastructure_discovery_service.py
  tests/unit/api/test_providers_discover_router.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

test(api): end-to-end RBAC enforcement over the full auth stack
  tests/integration/api/test_rbac_enforcement_flows.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat(auth): centralise authorization claim extraction across JWT strategies
  docs/mkdocs.yml
  docs/root/security/authorization.md
  src/orb/infrastructure/auth/claims.py
  src/orb/infrastructure/auth/strategy/bearer_token_strategy.py
  src/orb/infrastructure/auth/strategy/bearer_token_strategy_enhanced.py
  tests/unit/infrastructure/auth/test_bearer_token_strategy.py
  tests/unit/infrastructure/auth/test_claims.py
  tests/unit/infrastructure/auth/test_enhanced_bearer_token.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

test(aws): cover fleet cleanup at capacity 2 and document moto limits
  docs/mkdocs.yml
  docs/root/testing/moto-limits.md
  tests/providers/aws/conftest.py
  tests/providers/aws/mocked/test_cleanup_e2e.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

feat(sdk): add resource-discovery operation to all language clients
  sdk/csharp/src/FINOS.OpenResourceBroker/OrbClient.cs
  sdk/csharp/tests/unit/OperationCompletenessTests.cs
  sdk/go/orb/client_ops.go
  sdk/go/orb/conformance_test.go
  sdk/java/src/main/java/org/finos/openresourcebroker/sdk/client/OrbClient.java
  sdk/java/src/test/java/org/finos/openresourcebroker/sdk/unit/OperationCompletenessTest.java
  sdk/kotlin/src/main/kotlin/org/finos/openresourcebroker/sdk/client/OrbClient.kt
  sdk/kotlin/src/test/kotlin/org/finos/openresourcebroker/sdk/unit/OperationCompletenessTest.kt
  sdk/typescript/src/client.ts
  sdk/typescript/tests/unit/completeness.test.ts
Due: none

fix(api): stop discovery errors masquerading as 404 and bound the cache
  src/orb/api/routers/providers.py
  src/orb/providers/aws/services/infrastructure_discovery_service.py
  tests/providers/aws/unit/test_infrastructure_discovery_service.py
  tests/unit/api/test_providers_discover_router.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

chore(sdk): regenerate OpenAPI spec for the discovery endpoint
  sdk/spec/openapi.json
Due: quality-check, trivy-fs, trufflehog

docs: fix MicroVM IAM guidance and add sizing/networking sections
  docs/root/providers/aws/microvm.md
  tests/e2e/microvm/test_microvm_e2e.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

fix(health): report provider connectivity failures as degraded
  src/orb/providers/aws/health.py
  src/orb/providers/k8s/health.py
  tests/unit/providers/test_provider_health_degraded.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat(api): add /livez and /readyz probe endpoints
  src/orb/api/middleware/audit_log_middleware.py
  src/orb/api/middleware/read_only_middleware.py
  src/orb/api/server.py
  src/orb/domain/base/ports/health_check_port.py
  src/orb/monitoring/health.py
  tests/unit/api/test_liveness_readiness_endpoints.py
  tests/unit/monitoring/test_health_readiness.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes
