Repository awslabs/open-hostfactory-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, bandit-security-check, safety-dependency-check, secrets-detection, dockerfile-security, check-file-sizes, validate-cqrs, check-architecture

Path conditions:
  professional-quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  test-import-validation: any of: \.(py)$
  check-deprecated-imports: any of: \.(py)$
  comprehensive-security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  bandit-security-check: any of: ^src/.*\.py$
  safety-dependency-check: any of: requirements.*\.txt$
  secrets-detection: any of: ^src/.*\.py$
  dockerfile-security: any of: ^Dockerfile.*$
  check-file-sizes: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$

fix: correct Dependabot configuration validation errors
  .github/dependabot.yml
Due: professional-quality-check, comprehensive-security-scan

fix: use Makefile targets in CI workflows instead of hardcoded commands
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
Due: professional-quality-check, comprehensive-security-scan

fix: update Makefile for UV migration and remove emojis
  Makefile
Due: none

fix: remove redundant installations and fix docs build for UV
  Makefile
  dev-tools/scripts/ci_docs_build.sh
  dev-tools/scripts/ci_docs_build_for_pages.sh
Due: none

fix: use python -m mkdocs with uv run for docs build
  dev-tools/scripts/ci_docs_build.sh
  dev-tools/scripts/ci_docs_build_for_pages.sh
Due: none

fix: use uv run --frozen for docs build in CI
  dev-tools/scripts/ci_docs_build.sh
  dev-tools/scripts/ci_docs_build_for_pages.sh
Due: none

fix: remove redundant security-scan job and add individual tool jobs
  .github/workflows/security.yml
Due: professional-quality-check, comprehensive-security-scan

feat: add Trivy filesystem scanning to security workflow
  .github/workflows/security.yml
Due: professional-quality-check, comprehensive-security-scan

refactor: consolidate dependabot workflows into single workflow
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dependabot-uv-lock.yml
  .github/workflows/dependabot.yml
  .github/workflows/dependency-maintenance.yml
Due: professional-quality-check, comprehensive-security-scan

fix: standardize CI installation to use make ci-install
  .github/workflows/ci.yml
Due: professional-quality-check, comprehensive-security-scan

fix: ensure CI installs all dependencies including dev extras
  Makefile
  dev-tools/scripts/ci_docs_build.sh
  dev-tools/scripts/ci_docs_build_for_pages.sh
Due: none

refactor: restructure dependencies with CI and dev groups
  Makefile
  pyproject.toml.template
Due: none

fix: resolve dependency conflicts and clean up unnecessary packages
  pyproject.toml.template
  uv.lock
Due: none

feat: implement centralized tool execution for CI consistency
  Makefile
  dev-tools/scripts/run_tool.sh
  tests/unit/application/test_cqrs_patterns.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

feat: optimize Dependabot schedule and add CODEOWNERS
  .github/CODEOWNERS
  .github/dependabot.yml
Due: professional-quality-check, comprehensive-security-scan

fix: correct YAML syntax error in security workflow
  .github/workflows/security.yml
Due: professional-quality-check, comprehensive-security-scan

fix: resolve main branch CI failures
  Dockerfile
  dev-tools/scripts/ci_docs_build_for_pages.sh
Due: dockerfile-security

fix: resolve TruffleHog BASE==HEAD issue on main branch
  .github/workflows/security.yml
Due: professional-quality-check, comprehensive-security-scan

fix: update safety command from deprecated check to scan
  Makefile
Due: none

revert: keep safety check command instead of scan
  Makefile
Due: none

feat: fix Dockerfile and add container build/publish workflow
  .github/CODEOWNERS
  .github/workflows/container.yml
  Dockerfile
Due: professional-quality-check, comprehensive-security-scan, dockerfile-security

refactor: use Makefile as single source of truth for container workflow
  .github/workflows/container.yml
  Makefile
Due: professional-quality-check, comprehensive-security-scan

fix: Fix CODEOWNERS file with the corrent GH usernames
  .github/CODEOWNERS
Due: none

fix: properly implement container workflow following CI patterns
  .github/workflows/container.yml
  Makefile
Due: professional-quality-check, comprehensive-security-scan

fix: remove duplicate print-json-% targets in Makefile
  Makefile
Due: none

fix: use print-DEFAULT_PYTHON target instead of grep in container workflow
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
Due: professional-quality-check, comprehensive-security-scan

wip: start fixing ci.yml to use DEFAULT_PYTHON from Makefile
  .github/workflows/ci.yml
Due: professional-quality-check, comprehensive-security-scan

feat: establish Makefile as single source of truth for Python version across all workflows
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
Due: professional-quality-check, comprehensive-security-scan

feat: centralize hardcoded values using Makefile as single source of truth
  Dockerfile
  dev-tools/scripts/container-build.sh
  pyproject.toml.template
  requirements-test.txt
Due: professional-quality-check, comprehensive-security-scan, safety-dependency-check, dockerfile-security

refactor: rename DEFAULT_PYTHON to DEFAULT_PYTHON_VERSION for clarity
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  Makefile
  dev-tools/scripts/container-build.sh
  pyproject.toml.template
Due: professional-quality-check, comprehensive-security-scan

fix: repair Makefile variable broken by sed command
  Makefile
Due: none

feat: consolidate version management into single _package.py
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .project.yml
  Makefile
  dev-tools/package/version-bump.sh
  dev-tools/scripts/generate-pyproject.py
  pyproject.toml.template
  src/__init__.py
  src/_package.py
  src/_version.py
  src/cli/main.py
  src/interface/mcp/server/core.py
  src/run.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, bandit-security-check, secrets-detection, check-file-sizes, validate-cqrs, check-architecture

fix: correct project version to 0.1.0
  .project.yml
Due: professional-quality-check, comprehensive-security-scan

fix: standardize workflow variable naming to kebab-case
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  Makefile
Due: professional-quality-check, comprehensive-security-scan

fix: standardize ALL workflows to use default-python-version consistently
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
Due: professional-quality-check, comprehensive-security-scan

feat: remove hardcoded Python versions from docs and test-matrix workflows
  .github/workflows/docs.yml
  .github/workflows/test-matrix.yml
Due: professional-quality-check, comprehensive-security-scan

fix: correct setup-python action inputs to use python-version
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/test-matrix.yml
Due: professional-quality-check, comprehensive-security-scan

fix: standardize workflow job names and consolidate version-bump targets
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  Makefile
Due: professional-quality-check, comprehensive-security-scan

fix: correct matrix workflows to use python-versions for dynamic version arrays
  .github/workflows/container.yml
  .github/workflows/security.yml
Due: professional-quality-check, comprehensive-security-scan
