Repository awslabs/open-hostfactory-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, black, isort, flake8, mypy, pylint, bandit, safety, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, detect-secrets, check-file-sizes

Path conditions:
  format: any of: \.(py)$
  black: any of: \.(py)$
  isort: any of: \.(py)$
  flake8: any of: \.(py)$
  mypy: any of: \.(py)$
  pylint: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  hadolint: any of: Dockerfile.*
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$
  validate-imports-arch: any of: \.(py)$
  check-file-sizes-arch: any of: \.(py)$
  security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
  check-file-sizes: any of: \.(py)$

docs: remove emojis from PyPI setup documentation
  docs/deployment/pypi-setup.md
Due: quality-check

fix: resolve comment trigger dependency issues across all workflows
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
Due: quality-check, security-scan, validate-workflows

ui: add human-readable names to comment trigger jobs
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
Due: quality-check, security-scan, validate-workflows

security: fix critical vulnerabilities and comment triggers
  .github/workflows/ci.yml
  .github/workflows/container.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .trivyignore
  Dockerfile
  dev-tools/security/detect_secrets.py
Due: format, black, isort, flake8, mypy, pylint, bandit, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, check-file-sizes

security: resolve all base image vulnerabilities
  .trivyignore
  Dockerfile
Due: hadolint

security: pin package versions to resolve hadolint warnings
  Dockerfile
  dev-tools/docker/Dockerfile.dev-tools
Due: hadolint

fix: improve container build reliability and security workflow
  .github/workflows/container.yml
  .github/workflows/security.yml
Due: quality-check, security-scan, validate-workflows

feat: optimize container build process
  .github/workflows/container.yml
  dev-tools/scripts/container_build.sh
Due: quality-check, security-scan, validate-workflows

fix: enforce security scan failures in CI and pre-commit
  .gitignore
  .pre-commit-config.yaml
Due: quality-check, security-scan

fix: add 'from e' clause to raise statements for proper exception chaining
  src/api/handlers/get_request_status_handler.py
  src/api/middleware/auth_middleware.py
  src/api/validation.py
  src/bootstrap.py
  src/cli/main.py
  src/config/loader.py
  src/config/managers/configuration_manager.py
  src/config/managers/provider_manager.py
  src/config/managers/type_converter.py
  src/domain/base/decorators.py
  src/infrastructure/factories/provider_strategy_factory.py
  src/infrastructure/handlers/base/api_handler.py
  src/infrastructure/persistence/base/repository.py
  src/infrastructure/persistence/components/sql_connection_manager.py
  src/infrastructure/persistence/json/strategy.py
  src/infrastructure/persistence/registration.py
  src/infrastructure/persistence/repository_migrator.py
  src/infrastructure/persistence/sql/strategy.py
  src/infrastructure/registry/provider_registry.py
  src/infrastructure/registry/scheduler_registry.py
  src/infrastructure/registry/storage_registry.py
  src/infrastructure/resilience/retry_decorator.py
  src/infrastructure/scheduler/default/strategy.py
  src/infrastructure/utilities/file/text_utils.py
  src/providers/aws/domain/services/ami_resolver.py
  src/providers/aws/infrastructure/adapters/machine_adapter.py
  src/providers/aws/infrastructure/adapters/provisioning_adapter.py
  src/providers/aws/infrastructure/adapters/template_adapter.py
  src/providers/aws/infrastructure/aws_client.py
  src/providers/aws/infrastructure/launch_template/manager.py
  src/providers/aws/persistence/dynamodb/strategy.py
  src/providers/aws/utilities/aws_operations.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: correct decorator return type annotations
  src/application/decorators.py
  src/domain/base/decorators.py
  src/infrastructure/error/decorators.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve misc mypy violations
  src/domain/base/events/provider_events.py
  src/infrastructure/utilities/file/file_operations.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve no-untyped-def violations with proper type annotations
  src/domain/base/dependency_injection.py
  src/domain/base/events/base_events.py
  src/domain/base/ports/container_port.py
  src/domain/base/value_objects.py
  src/domain/template/aggregate.py
  src/infrastructure/error/context.py
  src/infrastructure/patterns/lazy_import.py
  src/infrastructure/utilities/common/collections/__init__.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve var-annotated mypy violations
  src/providers/aws/infrastructure/adapters/aws_validation_adapter.py
  src/providers/aws/infrastructure/aws_client.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve no-any-return violations with type casts
  src/config/managers/cache_manager.py
  src/domain/base/configuration_service.py
  src/domain/base/dependency_injection.py
  src/infrastructure/persistence/exceptions.py
  src/infrastructure/utilities/common/file_operations.py
  src/infrastructure/utilities/file/json_utils.py
  src/providers/aws/domain/services/ami_resolver.py
  src/providers/aws/exceptions/aws_exceptions.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve additional syntax errors in event handlers and decorators
  src/application/events/base/event_handler.py
  src/application/events/bus/event_bus.py
  src/domain/base/decorators.py
  src/infrastructure/base/resource_manager.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve duration formatting syntax errors
  src/infrastructure/base/resource_manager.py
  src/infrastructure/di/container.py
  src/infrastructure/performance/performance_monitor.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve more syntax errors in infrastructure components
  src/infrastructure/di/handler_discovery.py
  src/infrastructure/events/publisher.py
  src/infrastructure/handlers/base/api_handler.py
  src/infrastructure/logging/logger.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve syntax errors in persistence and resilience components
  src/infrastructure/persistence/components/dynamodb_transaction_manager.py
  src/infrastructure/resilience/retry_decorator.py
  src/infrastructure/resilience/strategy/circuit_breaker.py
  src/infrastructure/scheduler/hostfactory/field_mappings.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve syntax errors in template and provider components
  src/infrastructure/template/configuration_manager.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/resilience/aws_retry_strategy.py
  src/providers/aws/utilities/aws_operations.py
  src/providers/base/strategy/provider_context.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve easy mypy type issues
  src/infrastructure/adapters/ports/auth/user_port.py
  src/infrastructure/utilities/common/collections/validation.py
  src/providers/base/strategy/load_balancing/stats.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: apply black formatting to resolve code style issues
  src/application/events/base/event_handler.py
  src/application/events/bus/event_bus.py
  src/infrastructure/adapters/ports/auth/auth_port.py
  src/infrastructure/adapters/ports/auth/user_port.py
  src/infrastructure/base/resource_manager.py
  src/infrastructure/di/container.py
  src/infrastructure/di/handler_discovery.py
  src/infrastructure/events/publisher.py
  src/infrastructure/handlers/base/api_handler.py
  src/infrastructure/logging/logger.py
  src/infrastructure/performance/performance_monitor.py
  src/infrastructure/persistence/components/dynamodb_transaction_manager.py
  src/infrastructure/resilience/retry_decorator.py
  src/infrastructure/resilience/strategy/circuit_breaker.py
  src/infrastructure/scheduler/hostfactory/field_mappings.py
  src/infrastructure/template/configuration_manager.py
  src/infrastructure/utilities/common/collections/validation.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/resilience/aws_retry_strategy.py
  src/providers/aws/utilities/aws_operations.py
  src/providers/base/strategy/provider_context.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve tooling and security issues
  .github/ISSUE_TEMPLATE/bug_report.yml
  dev-tools/scripts/run_tool.sh
  src/config/managers/type_converter.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: improve mypy tooling execution
  Makefile
  dev-tools/scripts/run_tool.sh
  uv.lock
Due: none

fix: mypy now runs successfully from src directory
  Makefile
  dev-tools/scripts/run_tool.sh
Due: none

fix: resolve shellcheck issues in run_tool.sh
  dev-tools/scripts/run_tool.sh
Due: none

Fixing Bug 33 and other issues
  src/bootstrap.py
  src/infrastructure/adapters/provider_context_adapter.py
  src/infrastructure/persistence/json/strategy.py
  src/infrastructure/persistence/json/unit_of_work.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fixing formatting
  src/infrastructure/adapters/provider_context_adapter.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fixing unit tests
  tests/unit/api/test_api_comprehensive.py
  tests/unit/architecture/test_clean_architecture.py
  tests/unit/architecture/test_cqrs_compliance.py
  tests/unit/domain/test_base_entities.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

formatting
  tests/unit/api/test_api_comprehensive.py
  tests/unit/architecture/test_clean_architecture.py
  tests/unit/domain/test_base_entities.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

Fixing input format for request_ids and ability to provide a list of ids
  src/cli/main.py
  src/infrastructure/scheduler/default/strategy.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  src/interface/request_command_handlers.py
  tests/unit/infrastructure/scheduler/test_default_strategy.py
  tests/unit/infrastructure/scheduler/test_symphony_hostfactory_strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes
