Repository awslabs/open-hostfactory-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, black, isort, flake8, mypy, pylint, bandit, safety, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-workflows, validate-actionlint, validate-shell-scripts, detect-secrets, check-file-sizes

Path conditions:
  format: any of: \.(py)$
  black: any of: \.(py)$
  isort: any of: \.(py)$
  flake8: any of: \.(py)$
  mypy: any of: \.(py)$
  pylint: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  hadolint: any of: Dockerfile.*
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$
  validate-imports-arch: any of: \.(py)$
  check-file-sizes-arch: any of: \.(py)$
  security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  semgrep: any of: \.(py)$
  trivy-fs: any of: \.(py|txt|yml|yaml|toml|json)$
  trufflehog: any of: \.(py|txt|yml|yaml|toml|json|md|sh)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  validate-actionlint: any of: \.github/workflows/.*\.(yml|yaml)$
  validate-shell-scripts: any of: \.sh$
  detect-secrets: any of: ^src/.*\.py$
  check-file-sizes: any of: \.(py)$

chore(sdk): regenerate OpenAPI spec for liveness/readiness endpoints
  sdk/spec/openapi.json
Due: quality-check, trivy-fs, trufflehog

fix(health): scope provider connectivity checks to the default instance
  src/orb/providers/aws/registration.py
  src/orb/providers/health_scoping.py
  src/orb/providers/k8s/registration.py
  tests/unit/providers/test_health_check_scoping.py
  tests/unit/providers/test_provider_health_degraded.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

chore(sdk): add liveness/readiness operations to language SDKs
  sdk/csharp/src/FINOS.OpenResourceBroker/OrbClient.cs
  sdk/csharp/tests/unit/OperationCompletenessTests.cs
  sdk/go/orb/client_ops.go
  sdk/go/orb/conformance_test.go
  sdk/java/src/main/java/org/finos/openresourcebroker/sdk/client/OrbClient.java
  sdk/java/src/test/java/org/finos/openresourcebroker/sdk/unit/OperationCompletenessTest.java
  sdk/kotlin/src/main/kotlin/org/finos/openresourcebroker/sdk/client/OrbClient.kt
  sdk/kotlin/src/test/kotlin/org/finos/openresourcebroker/sdk/unit/OperationCompletenessTest.kt
  sdk/typescript/src/client.ts
  sdk/typescript/tests/unit/completeness.test.ts
Due: none

fix(health): treat EC2 connectivity failures as degraded, gate a sole provider's readiness
  sdk/spec/openapi.json
  src/orb/api/server.py
  src/orb/monitoring/health.py
  src/orb/providers/aws/health.py
  src/orb/providers/aws/registration.py
  src/orb/providers/aws/strategy/aws_provider_strategy.py
  src/orb/providers/health_scoping.py
  src/orb/providers/k8s/health.py
  src/orb/providers/k8s/registration.py
  src/orb/providers/k8s/services/health_check_service.py
  src/orb/providers/k8s/strategy/k8s_provider_strategy.py
  tests/unit/api/test_liveness_readiness_endpoints.py
  tests/unit/monitoring/test_health_readiness.py
  tests/unit/providers/test_health_check_scoping.py
  tests/unit/providers/test_provider_health_degraded.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

refactor(health): log instead of swallowing k8s config-port resolution failure
  src/orb/providers/k8s/strategy/k8s_provider_strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

ci(sdk): use Node 22 for npm publish so OIDC trusted publishing works
  .github/workflows/reusable-sdk-publish.yml
Due: quality-check, security-scan, trivy-fs, trufflehog, validate-workflows, validate-actionlint

fix(orchestration): tolerate transient sync errors in --wait polling
  src/orb/application/services/orchestration/get_request_status.py
  tests/unit/application/services/orchestration/test_get_request_status_orchestrator.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(config): persist set() dict edits as replace, not deep-merge
  src/orb/config/managers/configuration_manager.py
  tests/unit/config/test_configuration_manager_coverage.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(ui): refresh row counts and progress on live status events
  src/orb/ui/pages/requests.py
  tests/ui/test_state_integration.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(logging): make security audit trail attributable and level-independent
  src/orb/infrastructure/logging/logger.py
  tests/unit/misc2/test_auth_audit_logger.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(api): prevent HTTPS redirect loop behind TLS-terminating proxy
  src/orb/api/middleware/__init__.py
  src/orb/api/middleware/forwarded_proto_middleware.py
  src/orb/api/server.py
  tests/security/test_https_enforcement.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(sse): transmit event seq id so reconnects replay missed events
  src/orb/api/routers/events.py
  src/orb/ui/api_http.py
  src/orb/ui/pages/requests.py
  src/orb/ui/sse_client.py
  tests/ui/test_api_http_coverage.py
  tests/ui/test_sse_client.py
  tests/ui/test_state_integration.py
  tests/unit/api/test_events.py
  tests/unit/api/test_events_router.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

chore(sdk): regenerate OpenAPI spec for SSE reconnect semantics
  sdk/spec/openapi.json
Due: quality-check, trivy-fs, trufflehog

test(cli): assert requests-status --wait/--timeout reach the status DTO
  tests/unit/interface/test_request_command_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

fix(orchestration): bound --wait polling by true wall-clock time
  src/orb/application/services/orchestration/get_request_status.py
  tests/unit/application/services/orchestration/test_get_request_status_orchestrator.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(sse): resync reconnects whose cursor predates a server restart
  src/orb/api/routers/events.py
  tests/unit/api/test_events.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix(sse): stop emitting the history/live overlap event twice
  src/orb/api/routers/events.py
  tests/unit/api/test_events.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

test: cover forwarded-proto middleware and loopback-admin token auth
  tests/ui/test_sse_client.py
  tests/unit/api/test_forwarded_proto_middleware.py
  tests/unit/api/test_server_app_endpoints.py
  tests/unit/api/test_server_loopback_token.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, check-file-sizes

docs(providers): document the four AWS EC2 provisioning types
  docs/mkdocs.yml
  docs/root/index.md
  docs/root/providers/aws/asg.md
  docs/root/providers/aws/ec2-fleet.md
  docs/root/providers/aws/run-instances.md
  docs/root/providers/aws/spot-fleet.md
Due: quality-check, security-scan, trivy-fs, trufflehog

chore(deps): monthly dependency maintenance
  uv.lock
Due: none

fix: small issues
  src/orb/providers/azure/cli/azure_cli_spec.py
  src/orb/providers/azure/configuration/template_extension.py
  src/orb/providers/azure/infrastructure/adapters/azure_validation_adapter.py
  src/orb/providers/azure/infrastructure/handlers/single_vm_handler.py
  src/orb/providers/azure/strategy/azure_provider_strategy.py
  tests/providers/azure/test_azure_config_and_infra.py
  tests/providers/azure/test_single_vm_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: align Azure provider with main registries
  src/orb/providers/azure/registration.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: register auth
  src/orb/providers/azure/auth/azure_auth_strategy.py
  src/orb/providers/azure/registration.py
  tests/providers/azure/test_provider_registration_contracts.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: ruff and toml
  pyproject.toml
  src/orb/providers/azure/configuration/template_extension.py
  src/orb/providers/azure/defaults_loader.py
  src/orb/providers/azure/domain/__init__.py
  src/orb/providers/azure/domain/template/__init__.py
  src/orb/providers/azure/domain/template/azure_template_aggregate.py
  src/orb/providers/azure/domain/template/value_objects.py
  src/orb/providers/azure/infrastructure/azure_client.py
  src/orb/providers/azure/infrastructure/handlers/cyclecloud_handler.py
  src/orb/providers/azure/infrastructure/handlers/single_vm_handler.py
  src/orb/providers/azure/infrastructure/handlers/vmss_handler.py
  src/orb/providers/azure/infrastructure/services/spot_placement_score_adapter.py
  src/orb/providers/azure/infrastructure/services/ssh_key_resolver.py
  src/orb/providers/azure/infrastructure/vmss_cleanup.py
  src/orb/providers/azure/registration.py
  src/orb/providers/azure/services/inventory_service.py
  src/orb/providers/azure/services/spot_launch_service.py
  src/orb/providers/azure/strategy/azure_provider_strategy.py
  tests/providers/azure/test_async_azure_services.py
  tests/providers/azure/test_azure_config_and_infra.py
  tests/providers/azure/test_azure_credential_factory.py
  tests/providers/azure/test_azure_native_spec_service.py
  tests/providers/azure/test_azure_strategy.py
  tests/providers/azure/test_azure_strategy_lifecycle.py
  tests/providers/azure/test_azure_template.py
  tests/providers/azure/test_cyclecloud_handler.py
  tests/providers/azure/test_import_guards.py
  tests/providers/azure/test_single_vm_handler.py
  tests/providers/azure/test_vmss_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, safety, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: ruff check
  src/orb/providers/azure/infrastructure/handlers/single_vm_handler.py
  src/orb/providers/azure/infrastructure/handlers/vmss_handler.py
  src/orb/providers/azure/services/resource_metadata_service.py
  src/orb/providers/azure/services/termination_service.py
  tests/providers/azure/test_azure_client.py
  tests/providers/azure/test_azure_validation_adapter.py
  tests/providers/azure/test_cyclecloud_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: address PR comments
  src/orb/providers/azure/services/inventory_service.py
  src/orb/providers/azure/services/resource_metadata_service.py
  src/orb/providers/azure/strategy/azure_provider_strategy.py
  tests/providers/azure/test_azure_strategy_status.py
  tests/providers/azure/test_resource_metadata_service.py
  tests/providers/azure/test_single_vm_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

feat(azure): rebase based on Main not Common Code
  src/orb/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  src/orb/providers/azure/configuration/template_extension.py
  src/orb/providers/azure/defaults_loader.py
  src/orb/providers/azure/domain/template/azure_template_aggregate.py
  src/orb/providers/azure/domain/template/value_objects.py
  src/orb/providers/azure/infrastructure/error_codes.py
  src/orb/providers/azure/infrastructure/error_utils.py
  src/orb/providers/azure/infrastructure/handlers/cyclecloud_handler.py
  src/orb/providers/azure/infrastructure/handlers/single_vm_handler.py
  src/orb/providers/azure/infrastructure/handlers/vmss_handler.py
  src/orb/providers/azure/infrastructure/services/spot_placement_score_adapter.py
  src/orb/providers/azure/registration.py
  src/orb/providers/azure/scheduler/__init__.py
  src/orb/providers/azure/scheduler/hostfactory_field_mapping.py
  src/orb/providers/azure/services/cyclecloud_request_context_service.py
  src/orb/providers/azure/services/inventory_service.py
  src/orb/providers/azure/services/spot_launch_service.py
  src/orb/providers/azure/services/spot_placement_execution.py
  src/orb/providers/azure/services/spot_placement_planner.py
  src/orb/providers/azure/strategy/azure_provider_strategy.py
  tests/providers/azure/strategy_test_support.py
  tests/providers/azure/test_async_azure_services.py
  tests/providers/azure/test_azure_config_and_infra.py
  tests/providers/azure/test_azure_error_utils.py
  tests/providers/azure/test_azure_hostfactory_field_mapping.py
  tests/providers/azure/test_azure_strategy_lifecycle.py
  tests/providers/azure/test_azure_strategy_status.py
  tests/providers/azure/test_azure_template.py
  tests/providers/azure/test_provider_registration_contracts.py
  tests/providers/azure/test_single_vm_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

Resolve type issues after rebase
  src/orb/providers/azure/configuration/template_extension.py
  tests/unit/test_template_roundtrip.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

chore: minimize Azure provider rebase surface
  src/orb/infrastructure/scheduler/hostfactory/hostfactory_strategy.py
  tests/integration/test_bootstrap_integration.py
  tests/integration/test_field_mapping_integration.py
  tests/providers/azure/test_azure_strategy_lifecycle.py
  tests/unit/infrastructure/template/test_template_storage_service.py
  tests/unit/test_template_roundtrip.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: lazy loading and 3.11 dependencies
  pyproject.toml
  src/orb/providers/azure/__init__.py
  src/orb/providers/azure/infrastructure/adapters/azure_validation_adapter.py
  src/orb/providers/azure/infrastructure/handlers/azure_handler.py
  tests/providers/azure/test_import_guards.py
Due: format, black, isort, flake8, mypy, pylint, bandit, safety, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: httpx dependency in Azure
  pyproject.toml
Due: safety, quality-check, security-scan, trivy-fs, trufflehog

fix: ci pyright
  dev-tools/setup/run_tool.sh
  makefiles/ci.mk
  makefiles/common.mk
  src/orb/providers/azure/configuration/config.py
  src/orb/providers/azure/configuration/template_extension.py
  src/orb/providers/azure/registration.py
  src/orb/providers/azure/services/resource_metadata_service.py
  tests/providers/azure/test_azure_config_and_infra.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, validate-shell-scripts, detect-secrets, check-file-sizes

fix: rebase error handling and registration
  src/orb/domain/template/factory.py
  src/orb/domain/template/template_aggregate.py
  src/orb/providers/azure/auth/azure_auth_strategy.py
  src/orb/providers/azure/exceptions/azure_exceptions.py
  src/orb/providers/azure/infrastructure/adapters/azure_validation_adapter.py
  src/orb/providers/azure/infrastructure/adapters/template_adapter.py
  src/orb/providers/azure/infrastructure/adapters/template_example_generator_adapter.py
  src/orb/providers/azure/infrastructure/azure_client.py
  src/orb/providers/azure/infrastructure/azure_handler_factory.py
  src/orb/providers/azure/infrastructure/handlers/azure_handler.py
  src/orb/providers/azure/infrastructure/handlers/cyclecloud_handler.py
  src/orb/providers/azure/infrastructure/handlers/single_vm_handler.py
  src/orb/providers/azure/infrastructure/handlers/vmss_handler.py
  src/orb/providers/azure/infrastructure/services/azure_native_spec_service.py
  src/orb/providers/azure/managers/azure_resource_manager.py
  src/orb/providers/azure/registration.py
  src/orb/providers/azure/strategy/azure_provider_strategy.py
  tests/providers/azure/test_azure_config_and_infra.py
  tests/providers/azure/test_azure_exceptions.py
  tests/providers/azure/test_azure_strategy_lifecycle.py
  uv.lock
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: Add realpath containment enforcement to the Azure native-spec loader.
  src/orb/providers/azure/infrastructure/services/azure_native_spec_service.py
  tests/providers/azure/test_azure_native_spec_service.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: Use sha256 to appease the security scanner
  src/orb/providers/azure/infrastructure/services/azure_deployment_service.py
  tests/providers/azure/test_azure_deployment_service.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: remove provider_data
  src/orb/domain/template/template_aggregate.py
  src/orb/providers/azure/domain/template/azure_template_aggregate.py
  tests/providers/azure/test_azure_config_and_infra.py
  tests/providers/azure/test_azure_template.py
  tests/unit/infrastructure/persistence/test_pydantic_sql_drift.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: remove broken auth strategy
  src/orb/providers/azure/auth/__init__.py
  src/orb/providers/azure/auth/azure_auth_strategy.py
  src/orb/providers/azure/registration.py
  tests/providers/azure/test_azure_client.py
  tests/providers/azure/test_provider_registration_contracts.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes

fix: implement new contract for finalised/pending resources
  src/orb/providers/azure/infrastructure/handlers/single_vm_handler.py
  src/orb/providers/azure/infrastructure/handlers/vmss_handler.py
  src/orb/providers/azure/services/provisioning_service.py
  tests/providers/azure/test_async_azure_services.py
  tests/providers/azure/test_single_vm_handler.py
  tests/providers/azure/test_vmss_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, semgrep, trivy-fs, trufflehog, detect-secrets, check-file-sizes
