Repository awslabs/open-hostfactory-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, bandit-security-check, safety-dependency-check, secrets-detection, dockerfile-security, check-file-sizes, validate-cqrs, check-architecture

professional-quality-check:
  name: Professional Quality Check
  entry: bash -c 'source .venv/bin/activate && python scripts/quality_check.py --strict'
  language: system
  pass_filenames: false
  description: Run comprehensive professional quality checks (emojis, language, docstrings, etc.)

validate-imports:
  name: Validate Python Imports
  entry: bash -c 'source .venv/bin/activate && python scripts/validate_imports.py'
  language: system
  pass_filenames: false
  description: Validate that all critical imports work correctly

test-import-validation:
  name: Run Import Validation Tests
  entry: bash -c 'source .venv/bin/activate && python -m pytest tests/test_import_validation.py -v'
  language: system
  pass_filenames: false
  description: Run comprehensive import validation tests

check-deprecated-imports:
  name: Check for Deprecated Imports
  entry: bash -c 'grep -r "from.*request.*value_objects.*import.*MachineStatus" . --include="*.py" && echo "Found deprecated MachineStatus import" && exit 1 || echo "No deprecated imports found"'
  language: system
  pass_filenames: false
  ...

comprehensive-security-scan:
  name: Comprehensive Security Scan
  entry: bash -c 'source .venv/bin/activate && python dev-tools/security/security_scan.py'
  language: system
  pass_filenames: false
  description: Run comprehensive security scan (Bandit, Safety, SBOM, Trivy, Hadolint)

bandit-security-check:
  name: Bandit Security Check (Fallback)
  entry: bash -c 'source .venv/bin/activate && python -m bandit -r src/ -f json -q'
  language: system
  pass_filenames: false
  description: Run Bandit security linter on source code (fallback if comprehensive scan fails)

safety-dependency-check:
  name: Safety Dependency Check
  entry: bash -c 'source .venv/bin/activate && python -m safety check --short-report'
  language: system
  pass_filenames: false
  description: Check for known security vulnerabilities in dependencies

secrets-detection:
  name: Detect Hardcoded Secrets
  entry: bash -c 'grep -r -E "(password|secret|key|token)\s*=\s*[\"'\''][^\"'\'']{8,}" src/ --include="*.py" && echo "Potential hardcoded secrets found" && exit 1 || echo "No hardcoded secrets detected"'
  language: system
  pass_filenames: false
  ...

dockerfile-security:
  name: Dockerfile Security Check
  entry: bash -c 'if command -v hadolint >/dev/null 2>&1; then hadolint Dockerfile; else echo "Hadolint not installed, skipping Dockerfile security check"; fi'
  language: system
  pass_filenames: false
  description: Run Hadolint security check on Dockerfiles

check-file-sizes:
  name: Check File Sizes
  entry: bash -c 'source .venv/bin/activate && python scripts/check_file_sizes.py --warn-only'
  language: system
  pass_filenames: false
  description: Check for files that may violate Single Responsibility Principle

fix: correct Makefile to use .python.default_version field name
  Makefile
Due: none

fix: resolve all centralized configuration inconsistencies
  Makefile
  dev-tools/package/build.sh
  dev-tools/package/install-dev.sh
  dev-tools/package/test-install.sh
  dev-tools/scripts/container-build.sh
  dev-tools/scripts/generate-pyproject.py
  pyproject.toml.template
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: output compact JSON for GitHub Actions and remove implementation comments
  .github/workflows/container.yml
  Makefile
Due: professional-quality-check, comprehensive-security-scan

fix: resolve YAML syntax errors in all workflows
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
Due: professional-quality-check, comprehensive-security-scan

feat: add workflow validation and pre-commit check scripts
  Makefile
  dev-tools/scripts/pre_commit_check.sh
  dev-tools/scripts/validate_workflows.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: update pre-commit script to simulate actual .pre-commit-config.yaml hooks
  dev-tools/scripts/pre_commit_check.sh
Due: none

feat: consolidate pre-commit hooks to use Makefile targets as single entry point
  .pre-commit-config.yaml
  dev-tools/scripts/pre_commit_check.sh
Due: professional-quality-check, comprehensive-security-scan

fix: implement DRY principle by reading pre-commit config dynamically
  dev-tools/scripts/pre_commit_check.sh
Due: none

feat: add warning-only support for pre-commit checks
  .pre-commit-config.yaml
  dev-tools/scripts/pre_commit_check.sh
Due: professional-quality-check, comprehensive-security-scan

feat: add debug and extended modes to pre-commit check script
  dev-tools/scripts/pre_commit_check.sh
Due: none

feat: create proper script and Makefile target for secrets detection
  .pre-commit-config.yaml
  Makefile
  dev-tools/security/detect_secrets.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: clean up pre-commit config to remove duplicates and hardcoded commands
  .pre-commit-config.yaml
Due: professional-quality-check, comprehensive-security-scan

fix: make validate_workflows.py executable
  dev-tools/scripts/validate_workflows.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

feat: add standalone workflow YAML validation
  .github/workflows/validate-workflows.yml
Due: professional-quality-check, comprehensive-security-scan

fix: remove redundant yq installation from workflow validation
  .github/workflows/validate-workflows.yml
Due: professional-quality-check, comprehensive-security-scan

feat: add essential formatting checks to pre-commit and fix formatting
  .pre-commit-config.yaml
  src/_package.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, bandit-security-check, secrets-detection, check-file-sizes, validate-cqrs, check-architecture

feat: align pre-commit warning-only with workflow continue-on-error settings
  .pre-commit-config.yaml
Due: professional-quality-check, comprehensive-security-scan

feat: add auto-format hook to prevent formatting issues
  .pre-commit-config.yaml
Due: professional-quality-check, comprehensive-security-scan

feat: create flexible whitespace cleanup script
  Makefile
  dev-tools/scripts/clean_whitespace.py
  src/application/README.md
  src/config/README.md
  src/domain/README.md
  src/infrastructure/README.md
  src/providers/README.md
  tests/test-docker.sh
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: simplify whitespace cleanup to use find patterns
  Makefile
  dev-tools/scripts/clean_whitespace.py
  dev-tools/scripts/clean_whitespace.sh
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: make format target DRY by using clean-whitespace dependency
  Makefile
Due: none

fix: resolve all hadolint Dockerfile issues
  Dockerfile
Due: dockerfile-security

fix: add execute permissions to all dev-tools scripts and fix package manager detection
  dev-tools/scripts/pre_commit_check.sh
  dev-tools/scripts/run_dev_checks.sh
Due: none

feat: convert dev scripts to Python with progress feedback
  Makefile
  dev-tools/scripts/check_architecture.py
  dev-tools/scripts/check_file_sizes.py
  dev-tools/scripts/check_requirements.sh
  dev-tools/scripts/ci_check.py
  dev-tools/scripts/clean_whitespace.py
  dev-tools/scripts/clean_whitespace.sh
  dev-tools/scripts/container-build.sh
  dev-tools/scripts/generate-pyproject.py
  dev-tools/scripts/generate_sbom.py
  dev-tools/scripts/install-completions.sh
  dev-tools/scripts/pre_commit_check.py
  dev-tools/scripts/pre_commit_check.sh
  dev-tools/scripts/run_dev_checks.sh
  dev-tools/scripts/validate_workflows.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: complete quality check fixes
  .github/workflows/ci.yml
  dev-tools/package/build.sh
  dev-tools/package/install-dev.sh
  dev-tools/package/publish.sh
  dev-tools/package/test-install.sh
  dev-tools/package/version-bump.sh
  dev-tools/scripts/quality_check.py
  dev-tools/security/security_scan.py
  dev-tools/security/validate_sarif.py
  dev-tools/testing/run_tests.py
  docs/docs/developer_guide/dependency_injection.md
  local_env.sh
  scripts/getAvailableTemplates.sh
  scripts/getRequestStatus.sh
  scripts/getReturnRequests.sh
  scripts/invoke_provider.sh
  scripts/requestMachines.sh
  scripts/requestReturnMachines.sh
  scripts/templateWizard.sh
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: quality check alignment and self-exclusion
  dev-tools/scripts/quality_check.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

feat: comprehensive CI/pre-commit alignment
  .pre-commit-config.yaml
  Makefile
Due: professional-quality-check, comprehensive-security-scan

fix: add gitignore filtering to quality check
  dev-tools/scripts/quality_check.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

security: fix shell=True vulnerability in pre_commit_check.py
  dev-tools/scripts/pre_commit_check.py
  dev-tools/scripts/quality_check.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

Remove unused file
  =4.65.0
Due: none

refactor: replace custom unused import detection with autoflake
  .gitignore
  dev-tools/scripts/quality_check.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: correct GitHub workflow dependencies and formatting
  .github/workflows/ci.yml
Due: professional-quality-check, comprehensive-security-scan

fix: ensure consistent pyproject.toml generation in CI workflows
  .github/workflows/ci.yml
  dev-tools/scripts/quality_check.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

fix: apply black formatting to resolve CI formatting issues
  src/__init__.py
  src/domain/base/__init__.py
  tests/conftest.py
  tests/unit/cli/test_cli_migration.py
  tests/unit/infrastructure/template/test_ami_resolution.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, bandit-security-check, secrets-detection, check-file-sizes, validate-cqrs, check-architecture

fix: repair make format command and apply comprehensive formatting
  Makefile
Due: none

refactor: extract format logic to script following project patterns
  Makefile
  dev-tools/scripts/format_code.py
Due: professional-quality-check, validate-imports, test-import-validation, check-deprecated-imports, comprehensive-security-scan, check-file-sizes, validate-cqrs, check-architecture

chore: remove unused files
  =4.65.0
Due: none

Path conditions:
  professional-quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  test-import-validation: any of: \.(py)$
  check-deprecated-imports: any of: \.(py)$
  comprehensive-security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  bandit-security-check: any of: ^src/.*\.py$
  safety-dependency-check: any of: requirements.*\.txt$
  secrets-detection: any of: ^src/.*\.py$
  dockerfile-security: any of: ^Dockerfile.*$
  check-file-sizes: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$
