Repository awslabs/open-hostfactory-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, black, isort, flake8, mypy, pylint, bandit, safety, hadolint, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, detect-secrets, check-file-sizes

Path conditions:
  format: any of: \.(py)$
  black: any of: \.(py)$
  isort: any of: \.(py)$
  flake8: any of: \.(py)$
  mypy: any of: \.(py)$
  pylint: any of: \.(py)$
  bandit: any of: \.(py)$
  safety: any of: requirements.*\.txt$|pyproject\.toml$
  hadolint: any of: Dockerfile.*
  quality-check: any of: \.(py|md|rst|txt|yaml|yml|json|toml)$
  validate-imports: any of: \.(py)$
  validate-cqrs: any of: \.(py)$
  check-architecture: any of: \.(py)$
  validate-imports-arch: any of: \.(py)$
  check-file-sizes-arch: any of: \.(py)$
  security-scan: any of: \.(py|txt|yml|yaml|toml|Dockerfile)$
  validate-workflows: any of: \.github/workflows/.*\.(yml|yaml)$
  detect-secrets: any of: ^src/.*\.py$
  check-file-sizes: any of: \.(py)$

feat: consistent strategy/registry/factory pattern across all components
  src/infrastructure/di/infrastructure_services.py
  src/infrastructure/di/scheduler_services.py
  src/infrastructure/di/services.py
  src/infrastructure/di/storage_services.py
  src/infrastructure/factories/scheduler_strategy_factory.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: strategy/registry/factory consistency and scheduler-agnostic interface
  src/api/dependencies.py
  src/application/commands/request_handlers.py
  src/application/queries/handlers.py
  src/application/services/provider_selection_service.py
  src/application/services/template_defaults_service.py
  src/bootstrap.py
  src/domain/base/ports/scheduler_port.py
  src/infrastructure/adapters/configuration_adapter.py
  src/infrastructure/di/core_services.py
  src/infrastructure/di/infrastructure_services.py
  src/infrastructure/di/port_registrations.py
  src/infrastructure/di/provider_services.py
  src/infrastructure/di/scheduler_services.py
  src/infrastructure/di/server_services.py
  src/infrastructure/di/services.py
  src/infrastructure/di/storage_services.py
  src/infrastructure/persistence/repository_migrator.py
  src/infrastructure/scheduler/default/strategy.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  src/infrastructure/scheduler/registration.py
  src/infrastructure/template/configuration_manager.py
  src/interface/request_command_handlers.py
  src/interface/system_command_handlers.py
  src/interface/template_command_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

refactor: configuration files and ensure schema compliance
  config/default_config.json
Due: quality-check

refactor: legacy/migration provider configuration code
  src/config/migration.py
  src/config/schemas/__init__.py
  src/config/schemas/provider_strategy_schema.py
  src/infrastructure/persistence/repository_migrator.py
  src/infrastructure/scheduler/registration.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

feat: clean camelCase architecture - scheduler strategies handle field mapping, CLI formatters are pure presentation
  src/cli/formatters.py
  src/infrastructure/scheduler/default/strategy.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  src/interface/request_command_handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

feat: pure dynamic CLI formatters - eliminate all hardcoded field mappings
  src/cli/formatters.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: AWSProviderConfig import error in validator.py
  src/providers/aws/configuration/validator.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: ConfigurationPort import warning in query handlers
  src/application/queries/handlers.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: major warnings and errors - ConfigurationAdapter and resource_id issues
  src/infrastructure/adapters/configuration_adapter.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

feat: transform system to async-first architecture
  src/api/routers/templates.py
  src/application/commands/machine_handlers.py
  src/application/commands/provider_handlers.py
  src/application/commands/request_handlers.py
  src/application/queries/handlers.py
  src/infrastructure/ports/resource_provisioning_port.py
  src/providers/aws/infrastructure/adapters/provisioning_adapter.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/strategy/aws_provider_strategy.py
  src/providers/base/strategy/__init__.py
  src/providers/base/strategy/composite_strategy.py
  src/providers/base/strategy/fallback_strategy.py
  src/providers/base/strategy/provider_context.py
  src/providers/base/strategy/provider_strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

style: apply code formatting with make format
  src/application/commands/request_handlers.py
  src/application/queries/handlers.py
  src/cli/formatters.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  src/interface/request_command_handlers.py
  src/providers/aws/configuration/validator.py
  src/providers/aws/strategy/aws_provider_strategy.py
  src/providers/base/strategy/composite_strategy.py
  src/providers/base/strategy/provider_strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

refactor: remove overuse of 'proper' and clean up comments
  src/application/commands/request_handlers.py
  src/application/queries/handlers.py
  src/bootstrap.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  src/providers/aws/strategy/aws_provider_strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

refactor: standardize strategy pattern across storage, scheduler, and provider
  src/infrastructure/di/core_services.py
  src/infrastructure/di/scheduler_services.py
  src/infrastructure/di/storage_services.py
  src/infrastructure/factories/__init__.py
  src/infrastructure/factories/storage_strategy_factory.py
  src/infrastructure/persistence/factories/__init__.py
  src/infrastructure/registry/scheduler_registry.py
  src/infrastructure/registry/storage_registry.py
  src/infrastructure/scheduler/base/__init__.py
  src/infrastructure/scheduler/base/strategy.py
  src/infrastructure/scheduler/default/strategy.py
  src/infrastructure/scheduler/hostfactory/strategy.py
  tests/infrastructure/scheduler/base/__init__.py
  tests/infrastructure/scheduler/base/test_strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: correct base scheduler strategy to match SchedulerPort interface
  src/infrastructure/scheduler/base/strategy.py
  tests/infrastructure/scheduler/base/test_strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

feat: implement domain port consistency across all architectural patterns
  src/domain/base/ports/__init__.py
  src/domain/base/ports/provider_port.py
  src/domain/base/ports/storage_port.py
  src/infrastructure/di/core_services.py
  src/infrastructure/persistence/base/strategy.py
  src/infrastructure/persistence/repositories/machine_repository.py
  src/infrastructure/persistence/repositories/request_repository.py
  src/infrastructure/utilities/factories/repository_factory.py
  src/providers/base/strategy/__init__.py
  src/providers/base/strategy/base_provider_strategy.py
  tests/unit/architecture/test_cqrs_compliance.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

feat: comprehensive architectural consistency and violation fixes
  src/api/middleware/auth_middleware.py
  src/application/commands/request_handlers.py
  src/application/queries/provider_handlers.py
  src/application/queries/specialized_handlers.py
  src/infrastructure/adapters/ports/__init__.py
  src/infrastructure/adapters/ports/auth/__init__.py
  src/infrastructure/adapters/ports/auth/auth_port.py
  src/infrastructure/adapters/ports/auth/token_port.py
  src/infrastructure/adapters/ports/auth/user_port.py
  src/infrastructure/adapters/ports/cloud_resource_manager_port.py
  src/infrastructure/adapters/ports/logger_port.py
  src/infrastructure/adapters/ports/request_adapter_port.py
  src/infrastructure/adapters/ports/resource_provisioning_port.py
  src/infrastructure/adapters/provider_context_adapter.py
  src/infrastructure/auth/__init__.py
  src/infrastructure/auth/registry.py
  src/infrastructure/auth/strategy/__init__.py
  src/infrastructure/auth/strategy/bearer_token_strategy.py
  src/infrastructure/auth/strategy/no_auth_strategy.py
  src/infrastructure/di/core_services.py
  src/infrastructure/di/provider_services.py
  src/infrastructure/resilience/__init__.py
  src/infrastructure/resilience/retry_decorator.py
  src/infrastructure/resilience/strategy/__init__.py
  src/infrastructure/resilience/strategy/base.py
  src/infrastructure/resilience/strategy/circuit_breaker.py
  src/infrastructure/resilience/strategy/exponential.py
  src/providers/aws/auth/cognito_strategy.py
  src/providers/aws/auth/iam_strategy.py
  src/providers/aws/infrastructure/adapters/provisioning_adapter.py
  src/providers/aws/infrastructure/adapters/request_adapter.py
  src/providers/aws/infrastructure/adapters/resource_manager_adapter.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
  src/providers/aws/infrastructure/handlers/run_instances_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
  src/providers/aws/resilience/aws_retry_strategy.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve pytest fixture import issue
  tests/conftest.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, check-file-sizes

fix: make EC2 Fleet check_hosts_status sync for consistency
  src/providers/aws/infrastructure/handlers/ec2_fleet_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

feat: add multiple resource_ids handling to Spot Fleet and ASG handlers
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: make help now shows ci-quality-flake8 target
  Makefile
Due: none

feat: organize make help output with logical groups and sorting
  Makefile
Due: none

feat: implement dynamic section-based help system
  Makefile
Due: none

feat: add alphabetical sorting within help sections
  Makefile
Due: none

feat: consolidate Makefile and add comprehensive dev tools
  .github/workflows/container.yml
  Makefile
  dev-tools/scripts/install_dev_tools.py
  dev-tools/scripts/quick_start.py
  dev-tools/scripts/security_check.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, validate-workflows, check-file-sizes

fix: resolve flake8 linting issues
  Makefile
  src/providers/aws/configuration/validator.py
  src/providers/aws/infrastructure/template/caching_ami_resolver.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve all remaining flake8 issues
  src/application/commands/request_handlers.py
  src/application/queries/provider_handlers.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: remove emojis from dev tools scripts for professional code standards
  dev-tools/scripts/install_dev_tools.py
  dev-tools/scripts/security_check.py
  src/providers/aws/infrastructure/handlers/asg_handler.py
  src/providers/aws/infrastructure/handlers/spot_fleet_handler.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: correct matrix variable references in container workflow
  .github/workflows/container.yml
Due: quality-check, security-scan, validate-workflows

fix: use matrix python-version in setup-python action
  .github/workflows/container.yml
Due: quality-check, security-scan, validate-workflows

fix: resolve container workflow issues
  .github/workflows/container.yml
Due: quality-check, security-scan, validate-workflows

fix: remove hardcoded package versions in Dockerfile
  Dockerfile
Due: hadolint

fix: pin packages to latest available versions for security scanning
  Dockerfile
Due: hadolint

fix: add missing PACKAGE_NAME_SHORT build arg to container build script
  dev-tools/scripts/container_build.sh
Due: none

feat: optimize Dockerfile for wheel-based builds and multi-architecture support
  Dockerfile
  deployment/docker/docker-entrypoint.sh
  dev-tools/scripts/container_build.sh
Due: hadolint

fix: replace yq with PyYAML/metadata hybrid approach in _package.py
  src/_package.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes

fix: resolve console script and Docker optimization issues
  Dockerfile
  deployment/docker/docker-entrypoint.sh
  pyproject.toml.template
Due: hadolint

style: apply code formatting
  src/_package.py
  src/run.py
Due: format, black, isort, flake8, mypy, pylint, bandit, quality-check, validate-imports, validate-cqrs, check-architecture, validate-imports-arch, check-file-sizes-arch, security-scan, detect-secrets, check-file-sizes
